<template>
  <div class=" p-3">
  <div class="flightrow">
    <span class="tripimg">
        <img :src="`https://content.airhex.com/content/logos/airlines_${departTrip[0].carrier.code}_250_83_r.png`" alt=""> <br>
    </span>
    <span class="tripdetail">
      <span class="trip">
        <span>
          {{`${dateFormat(departTrip[0].origin.date)} ${departTrip[0].origin.time}`}} <br>
          {{`${departTrip[0].origin.name} (${departTrip[0].origin.code})`}}
        </span>
        <span><i class="fa fa-arrow-right text-yellow"></i></span>
        <span>
          {{`${dateFormat(departTrip[departTrip.length - 1].destination.date)} ${departTrip[departTrip.length - 1].destination.time}`}} <br>
          {{`${departTrip[departTrip.length - 1].destination.name} (${departTrip[departTrip.length - 1].destination.code})`}}
        </span>
      </span>
      <hr>
      <span class="text-left more">
          <span>
            <small><i class="fa fa-star" style="color: gray;"></i> {{departTrip[0].class.name}}</small><br>
            <small><i class="fa fa-clock-o" style="color: gray;"></i> {{` ${getJourneytime(departTrip[0].journeyTime).hours} ${getJourneytime(departTrip[0].journeyTime).minutes}`}}</small>
          </span>
          <span v-if="departTransfer.length != 0">
             <small><i class="fa fa-plane" style="color: gray;"></i> {{departTransfer.length}} Transit</small>       
          </span>
      </span>
    </span>
  </div>
  
  <hr> 

  <div v-if="isRoundtrip" class="flightrow">
    <span class="tripimg">
        <img :src="`https://content.airhex.com/content/logos/airlines_${returnTrip[0].carrier.code}_250_83_r.png`" alt=""> <br>
    </span>
    <span class="tripdetail">
      <span class="trip">
        <span>
          {{`${dateFormat(returnTrip[0].origin.date)} ${returnTrip[0].origin.time}`}} <br>
          {{`${returnTrip[0].origin.name} (${returnTrip[0].origin.code})`}}
        </span>
        <span><i class="fa fa-arrow-right text-yellow"></i></span>
        <span>
          {{`${dateFormat(returnTrip[departTrip.length - 1].destination.date)} ${returnTrip[returnTrip.length - 1].destination.time}`}} <br>
          {{`${returnTrip[returnTrip.length - 1].destination.name} (${returnTrip[returnTrip.length - 1].destination.code})`}}
        </span>
      </span>
      <hr>
      <span class="text-left more">
          <span>
            <small><i class="fa fa-star" style="color: gray;"></i>{{returnTrip[0].class.name}}</small><br>
            <small><i class="fa fa-clock-o" style="color: gray;"></i>{{` ${getJourneytime(returnTrip[0].journeyTime).hours} ${getJourneytime(returnTrip[0].journeyTime).minutes}`}}</small>
          </span>
          <span v-if="returnTransfer.length != 0">
           <small><i class="fa fa-plane" style="color: gray;"></i> {{returnTransfer.length}} Transit</small>
          </span>
      </span>
    </span>
  </div>

  <div style="border-top:solid .5px #ddd" class=" px-3 pt-1 mt-3">
      <span class="popup" @click="showModal = !showModal" style="color:#f49b24">Show booking details <i class="fa fa-external-link ml-1"></i></span>
  </div>

  <div v-if="showModal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Booking Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click="showModal = false">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Trips</h4>
                      <div v-for="(trip,index) in wholeTrip" :key="index" class="flightrow small">
                        <span class="tripimg">
                            <img :src="`https://content.airhex.com/content/logos/airlines_${trip.carrier.code}_250_83_r.png`" alt=""> <br>
                        </span>
                        <span class="tripdetail">
                          <span class="trip">
                            <span>
                              {{`${dateFormat(trip.origin.date)} ${trip.origin.time}`}} <br>
                              {{`${trip.origin.name} (${trip.origin.code})`}}
                            </span>
                            <span><i class="fa fa-arrow-right text-yellow"></i></span>
                            <span>
                              {{`${dateFormat(trip.destination.date)} ${trip.destination.time}`}} <br>
                              {{`${trip.destination.name} (${trip.destination.code})`}}
                            </span>
                          </span>
                          <hr>
                          <span class="text-left more">
                              <span>
                                <small><i class="fa fa-star" style="color: gray;"></i> {{trip.class.name}}</small><br>
                                <small><i class="fa fa-clock-o" style="color: gray;"></i> Flight Time {{` ${getJourneytime(trip.flightTime).hours} ${getJourneytime(trip.flightTime).minutes}`}}</small>
                                <small v-if="'waitTime' in trip"><br><i class="fa fa-clock-o" style="color: gray;"></i> {{`Transit Wait Time ${getJourneytime(trip.waitTime).hours} ${getJourneytime(trip.waitTime).minutes}`}}</small>
                              </span>
                          </span>
                        </span>
                      </div>
                </div>
            </div>
        </div>

        </div>
      </div>
    </transition>
  </div>

  </div>
</template>

<script>
import Helper from "../../services/helper"

export default {
  props: ["departTrip","returnTrip","wholeTrip", "isRoundtrip"],
  data(){
    return {
      showModal:false,
      departTransfer: [],
      returnTransfer: [],
    }
  },
  mounted(){
    this.setTransfer()
  },
  methods:{
    dateFormat(date) {
      return moment(date).format("ddd Do MMM");
    },
    getJourneytime(min) {
      return Helper.getJourneytime(min)
    },
    setTransfer(){
      this.departTrip.map((transfer) => {
        if("waitTime" in transfer) {
          this.departTransfer.push(`${transfer.destination.name} (${transfer.destination.code})`)
        }
      })
      this.returnTrip.map((transfer) => {
        if("waitTime" in transfer) {
          this.returnTransfer.push(`${transfer.destination.name} (${transfer.destination.code})`)
        }
      })
    },
  },
  watch: {
      showModal: function (isOpen) {
        if (isOpen) {
          document.documentElement.style.overflow = 'hidden'
          // document.documentElement is the same as using document.querySelector('#root')
        } else {
          document.documentElement.style.overflow = 'auto'
        }
      }
  },
  computed: {
  
  }
}
</script>

<style scoped>
.popup:hover{
  cursor:pointer;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:scroll;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-body {
    overflow-y: auto !important;
    height:450px;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.go {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  font-size: 12px;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 650px;
    margin: 1.75rem auto;
}
}

.flightrow{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:.2fr .8fr;
  grid-template-columns:.2fr .8fr;
  text-align:center;
}

.flightrow.small{
  font-size:12px;
  border-top:solid .5px #eee;
  padding:15px;
}

.flightrow .tripimg{
  padding:10px;
}

.flightrow img{
  width:100%;
}

.flightrow .tripdetail{
    border-left:solid 1px #eee;
}

.flightrow .trip{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr 1fr;
  grid-template-columns:1fr 1fr 1fr;
  text-align:center;
}

.flightrow .more{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr;
  grid-template-columns:1fr 1fr;
  padding:0 20px;
}
</style>
