<template>
  <div class="filter-sidebar">
    <header class="sidebar-title">
      Filter your results
    </header>
    <div class="filter-widget">
      <div class="input-group p-3">
        <input type="text" class="form-control" placeholder="Flight Number" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn bg-blue text-light">Find</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.filter-sidebar {
  width: 100%;
  border: solid 1px #ddd;
  box-shadow: 0 1px 1px #ececec;
  min-height: 100%;
}

.filter-sidebar header {
  padding: 10px 20px;
  border-bottom: solid 1px #ddd;
  box-shadow: 0 1px 1px #ececec;
}

.filter-widget {
  border-bottom: solid 1px #ddd;
}
</style>
