<template>
  <!-- Filter Top -->
  <div>
    <div v-if="filterdata.airports" class="row">
      <div class="col-md p-3">
        <label>Airlines</label>
        <fieldset>
          <div class="custom-control custom-checkbox" v-for="(list,index) in filterdata.airlines" :key="index" >
            <input class="custom-control-input" v-model="query.airline" :value="list.id" :id="list.id" type="checkbox"> <label class="custom-control-label" :for="list.id">{{list.value}}</label>  
          </div>
        </fieldset>
      </div>
      <div  v-if="filterdata.airports.transfers.length != 0"  class="col-md p-3">
        <div class="form-group mb-1">
          <label>Transit Wait Time</label>
          <vue-slider :formatter="format"  v-bind="optionstransit"  v-model="query.waittime"></vue-slider>
        </div>
      </div>
       <div class="col-md p-3">
       <label>Airports</label>
        <fieldset>
          <div class="form-group mb-1">
            <label>Departure</label>
            <div class="custom-control custom-checkbox" v-for="(list,index) in filterdata.airports.departures" :key="index" >
              <input class="custom-control-input" v-model="query.airports.departure" :value="list.id" :id="list.id" type="checkbox"> <label class="custom-control-label" :for="list.id">{{list.value}}</label>  
            </div>
          </div>
          <div v-if="filterdata.airports.transfers.length != 0" class="form-group mb-1">
            <label>Transfer</label>
            <div class="custom-control custom-checkbox" v-for="(list,index) in filterdata.airports.transfers" :key="index" >
              <input class="custom-control-input" v-model="query.airports.transfer" :value="list.id" :id="list.id" type="checkbox"> <label class="custom-control-label" :for="list.id">{{list.value}}</label>  
            </div>
          </div>
          <div class="form-group mb-1">
            <label>Arrival</label>
            <div class="custom-control custom-checkbox" v-for="(list,index) in filterdata.airports.arrivals" :key="index" >
              <input class="custom-control-input" v-model="query.airports.arrival" :value="list.id" :id="list.id" type="checkbox"> <label class="custom-control-label" :for="list.id">{{list.value}}</label>  
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md p-3">
        <label>Stops</label>
        <fieldset>
          <div class="form-group mb-1">
            <div class="custom-control custom-checkbox" v-for="(list,index) in filterdata.changes" :key="index" >
              <input class="custom-control-input" v-model="query.stops" :value="list.id" :id="list.id" type="checkbox"> <label class="custom-control-label" :for="list.id">{{list.value}}</label>  
            </div>
          </div>
        </fieldset>
        <div class="btn-group mt-3">
          <button :disabled="filterbtn" class="btn bg-yellow text-light btn-block" @click="filterSearch">Filter</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AirlineList from '../../services/airlines'
import Helper from '../../services/helper'
import vueSlider from 'vue-slider-component/src/vue2-slider.vue'

export default {
  props : ["filterdata","page"],
  data(){
    return {
      optionstransit: {
        eventType: 'auto',
        height: 6,
        dotSize: 16,
        interval: 1,
        show: true,
        min: 0,
        max: 0,
        speed: 0.5,
        tooltip: 'always',
        tooltipDir: 'bottom',
      },
      query: {
        airline: [],
        stops: [],
        waittime: [],
        airports: {
          arrival: [],
          departure: [],
          transfer: []
        }
      },
      filters: {
        airline: null
      },
      queryString:"",
      startString: "",
      filterbtn: false
    }
  },
  watch: {
    query: {
      handler(val){
        let querydata = {}

        if(val.airports.departure.length != 0) {
          querydata["filter[airports][departure]"] = val.airports.departure.toString();
        }
        if( val.airports.arrival.length != 0) {
          querydata["[airports][arrival]"] =  val.airports.arrival.toString();
        }
        if(val.stops.length != 0) {
          querydata["filter[stops]"] = val.stops.toString();
        }
        if(val.airline.length != 0) {
          querydata["filter[airlines]"] = val.airline.toString();
        }
        if(val.waittime.length != 0) {
          querydata["filter[waittime]"] = val.waittime.toString()
        }
        if(val.airports.transfer.length != 0) {
          querydata["filter[airports][transfer]"] =  val.airports.transfer.toString()
        }

        this.queryString = this.encodeQueryData(querydata)

      },
      deep: true
    },
  },
  mounted(){
      this.setAirlines();
      this.setAirports();
      this.setWaittime();
      this.setStops();
  },
  methods:{
    setAirlines() {
       this.filterdata.airlines.map(airline => {
         this.query.airline.push(airline.id);
      });
    },
    setStops() {
       this.filterdata.changes.map(stop => {
         this.query.stops.push(stop.id);
      });
    },
    setWaittime() {
      this.optionstransit.max = this.filterdata.waiting.max
      this.optionstransit.min = this.filterdata.waiting.min
      this.query.waittime = [this.filterdata.waiting.min,this.filterdata.waiting.max]
    },
    setAirports() {
      this.filterdata.airports.arrivals.map(airport => {
        this.query.airports.arrival.push(airport.id)
      })
      this.filterdata.airports.departures.map(airport => {
        this.query.airports.departure.push(airport.id)
      })
      if(this.filterdata.airports.transfers) {
        this.filterdata.airports.transfers.map(airport => {
        this.query.airports.transfer.push(airport.id)
        })
      }
    },
    encodeQueryData(data) {
      const ret = [];
      for (let d in data)
        ret.push(d + '=' + data[d]);
      return ret.join('&');
    },
    format(value){
      return Helper.getTimeFromMins(value)
    },
    filterSearch() {
      this.filterbtn = true
      this.$emit('filter-loading', true);
      axios.post('/api/flight/filter', {
        token: this.token,
        queryString: this.queryString
      }).then(({data}) => {
        if(data.success){
          let response;
          if(data.flightdata.length == 0){
            response = "No results"
          }
          else{
            response = data.flightdata
          }
          this.$emit('filter-loading', false);
          this.$emit('filter-search', response)
          this.filterbtn = false
        }
        else{
          this.$emit('filter-loading', false);
          this.$emit('filter-search', data)
        }
      }).catch((err) => console.log(err))
      //this.$emit('filter-search', this.queryString)
    }
  },
  components: {
    vueSlider
  },
  computed: {
    airlinelist() {
       return AirlineList;
    },
    token() {
      return this.$store.getters.getSearchFlightToken;
    }
  }
}
</script>

<style lang="scss">

  @import "~@/_variables.scss";

  .filterbar a{
    color:$primary;
  }

  .vue-slider-component {
    .vue-slider-process {
      background-color: $primary !important;
    }
    .vue-slider-tooltip{
      border:$primary !important;
      background-color: $primary !important;
    }
  }

  .keepopen{
    min-width: 200px;
  }

  .range-slider-fill{
    background-color: $primary !important;
  }

  .filterbar{
    background:transparent !important;
  }

  
</style>
