<template>
        <div class="bg-light p-3 mb-3 boxshadow">
        <h3>Payment</h3>
        <div class="container p-3">
          <div class="row">
          <div class="col-md-8 mx-3 py-2 bborder">
            <small>Apply coupon or Yippi points:</small>
            <hr class="mt-2 mb-3">
            <span class="text-right">
              <div class="button-group mb-3">
                <form>
                  <div style="max-width:300px" class="input-group ml-auto">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <button class="btn bg-blue text-light" type="button">Apply Coupon</button>
                    </div>
                  </div>
                </form>
                <br>
                <button class="btn btn-yippi py-0"><img width="100px" src="../../../img/png/yippi.png" alt=""> <span>Points</span></button>
              </div>
            </span>
            <small>Choose your Credit/Debit Card options:</small>
            <hr class="my-2">
            <div class="row px-3 text-center">
              <div class="gateway enable col-md">
                 <input class="d-none" type="radio" id="upay" value="upay" v-model="payment">
                 <label for="upay" class="btn"><img width="150px" src="../../../img/png/upay.png" alt=""></label>
              </div>
              <div class="gateway col-md disabled">
                <input class="d-none" disabled="true" type="radio" id="molpay" value="molpay" v-model="payment">
                <label for="molpay" class="btn disabled"><img width="150px" src="../../../img/png/molpay.png" alt=""></label>
              </div>
              <div class="gateway col-md disabled">
                <input class="d-none" disabled="true" type="radio" id="unionpay" value="unionpay" v-model="payment">
                <label for="unionpay" class="btn disabled"><img width="150px" src="../../../img/png/unionpay.png" alt=""></label>
              </div>
            </div>
          </div>
          <div class="col-md pricedetail bborder py-2">
            <div class="passengers mb-2">
              Passengers
              <div style="border-top:solid .5px #f49b24;border-bottom:solid .5px #f49b24;background:#F3F6F8" class="p-1 mt-1 small">
                <span> Adult : x{{passengers.adult.count}} <span class="float-right">USD {{passengers.adult.price}}</span></span>
                <span v-show="passengers.child.count != 0"><br>Child : x{{passengers.child.count}} <span class="float-right">{{passengers.child.count}}</span></span> 
                <span v-show="passengers.infant.count != 0"><br>Infant : x{{passengers.infant.count}} <span class="float-right">{{passengers.child.count}}</span></span>
              </div>
            </div>
            <div v-if="coupon || ypoints" class="discount">
              Discount
              <div style="border-top:solid .5px #f49b24;background:#F3F6F8" class="p-1 px-1 small">
                <span v-if="coupon">Coupon Code: DIY1 <span class="float-right">USD50</span><br></span>
                <span v-if="ypoints">Yippi Point: 30pts <span class="float-right">USD30</span></span>
              </div>
            </div>
            <div class="p-1 px-1 small">
                <span> <span class="float-right">Fare & Tax Included.</span><br></span>
            </div>
            <div style="border-top:solid .5px  #f49b24" class="py-1">
              Total : <span class="float-right"> USD {{total}} </span><br>
              <div class="btn-group">
                <button class=" btn bg-yellow text-light" @click.prevent="checkout">Checkout</button>
              </div>
            </div>
          </div>

          <!-- //Upay form -->
          <form method="POST" :action="upayForm.UPAY_URL" ref="upayform" v-if="upayForm">
            <input v-for="(value,index) in upayForm" :key="index" type="hidden" :name="index" :value="value">
          </form>

        </div>
        </div>
      </div>
</template>

<script>
export default {
  props: ["passengers", "flightPrice", "email"],
  data() {
    return {
      payment: "upay",
      coupon: null,
      ypoints: null,
      upayForm: null
    }
  },

  methods: {
    getYippipoints() {

    },
    getCoupon() {

    },
    checkout() {
      axios.post('/api/flight/finalize', {
        final_price : this.total,
        customer_email : this.email,
        gateway : this.payment,
      }).then(({data}) => {
        if(data.success) {
          this.upayForm = data.data
          return data.success
        }
        return data.success
      }).then((success) => {
        if(success) {
          this.$refs.upayform.submit()
        }
      })
    }
  },
  computed: {
    total() {
      let sum = this.flightPrice;
      
      if(this.ypoints) {
        sum = sum + this.ypoints
      }
      return sum;
    }
  }
}
</script>

<style>

.gateway.enable .btn{
  border:solid .5px #006c8f;
  background:transparent;
}

.gateway.disabled{
  filter:grayscale(100%);
}

.pricedetail{
  position:relative;
}

.pricedetail .btn-group{
  position:absolute;
  bottom:15px;right:15px;
}
tr{
  border:solid 1px #ddd !important;
}

#upay:checked + label {
  border:solid 2px #f49b24;
}
</style>
