<template>
  <div>
    <transition name="slide-toggle" mode="out-in">
    <form class="bg-blue p-3"  v-show="show">
    <div class="form-group custom-control custom-checkbox">
      <!-- checkbox -->
      <input type="checkbox" v-model="flight.return" class="custom-control-input" id="return">
      <label class="custom-control-label text-light" for="return">{{lang('flightsearch.return')}}</label>
    </div>
    <div class="form-group fromto">
      <span v-show="flight.departure != '' && flight.arrival != ''" style="width:20px" class="changedir"><img src="../../../img/svg/changedir.svg" width="20px"></span>
      <div class="row">
        <!-- Departure -->
        <div class="input-group col-md">
          <div class="input-group-prepend">
            <div class="input-group-text"><img src="../../../img/svg/planedepart.svg" width="14px" alt=""></div>
          </div>
          <model-select :class="status($v.flight.departure)" :options="iata" v-model="$v.flight.departure.$model" :placeholder="lang('flightsearch.departure')"></model-select>
          <div v-if="!$v.flight.departure.required" class="errortext text-light">Departure airport is required!</div>
        </div>
        <!-- Arrival -->
        <div class="input-group col-md">
          <div class="input-group-prepend">
            <div class="input-group-text"><img src="../../../img/svg/planearrival.svg" width="14px" alt=""></div>
          </div>
          <model-select :class="status($v.flight.arrival)" :options="iata" v-model="$v.flight.arrival.$model" :placeholder="lang('flightsearch.arrival')"></model-select>
          <div v-if="!$v.flight.arrival.required" class="errortext text-light">Arrival airport is required!</div>
        </div>
      </div>
    </div>
    <!-- flight date -->
    <div class="form-group  row mb-0">
      <div class="col-md-6 pr">
        <datepicker :bootstrap-styling="true" v-model="flight.date" :format="customFormatter" :disabledDates="disabledDates" :calendar-button="true" calendar-button-icon="fa fa-calendar"></datepicker>
      </div>
      <div v-show="flight.return" class="col-md">
        <datepicker :bootstrap-styling="true" v-model="flight.returndate" :format="customFormatter" :disabledDates="disableReturnDates" :calendar-button="true" calendar-button-icon="fa fa-calendar"></datepicker>
      </div>
      <div  class="col-md pr">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><img src="../../../img/svg/couch.svg" width="14px" alt=""></div>
            </div>
            <select v-model="flight.class" class="form-control">
              <option value="0">{{lang('flightsearch.class.0')}}</option>
              <option value="E">{{lang('flightsearch.class.E')}}</option>
              <option value="P">{{lang('flightsearch.class.P')}}</option>
              <option value="B">{{lang('flightsearch.class.B')}}</option>
              <option value="F">{{lang('flightsearch.class.F')}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-users"></i></div>
        </div>
        <button class="form-control text-left m300" data-toggle="dropdown">{{ flight.passenger.adult + ' '+ lang('flightsearch.passenger.adult',flight.passenger.adult) +
          ' ,' + flight.passenger.child + " " + lang('flightsearch.passenger.child',flight.passenger.child) +
          ' , '+ flight.passenger.infant + " " + lang('flightsearch.passenger.infant',flight.passenger.infant)}}</button>
        <div class="dropdown-menu passenger  p-3" aria-labelledby=" dropdownMenuButton">
          <!-- Adult -->
          <div class="form-group row">
            <div class=" col-md-8">
              <label><i class="fa fa-user"></i> Adult <br><small class="text-yellow">(Age 12 and Over)</small></label>
            </div>
            <div class="col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn input-group-text" @click="minus(this,'adult')">-</button>
                </div>
                <input disabled v-model="flight.passenger.adult" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn input-group-text" @click="add(this,'adult')">+</button>
                </div>
              </div>
            </div>
          </div>
          <!-- children -->
          <div class="form-group row">
            <div class=" col-md-8">
              <label><i class="fa fa-user"></i> Children <br><small class="text-yellow">Children (0 - 9)</small></label>
            </div>
            <div class="col-md">
              <select v-model="numberOfChildren" class="form-control">
                <option v-for="(index,i) in new Array(10)" :value="i" :key="index">{{i}}</option>
              </select>
            </div>
          </div>

          <div v-if="children.length != 0" class="mb-1 form-group row">
            <div class=" col-md-12">
              <label> <i class="fa fa-child text-dark"></i><small class="text-yellow"> Child (age 2 to 11) and Infant (below age 2)</small></label>
            </div>
            <div v-for="(index, i) in children" :key="i" class="col-md-6">
              <div class="div p-1">
                <label>Children {{i+1}}</label>
                <select class="form-control m300" v-model="children[i]">
                  <option :value="0" disabled hidden>Select Age</option>
                  <option v-for="(age, i) in chidrenage" :value="age.val" :key="i">{{age.text}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group text-right">
      <button class="btn bg-yellow text-light" @click.prevent="submit" type="button">{{lang('flightsearch.searchflight')}}</button>
    </div>
  </form>
  </transition>
  </div>

</template>

<script>
import Datepicker from "vuejs-datepicker";
import { ModelSelect } from "vue-search-select";
import { ModelListSelect } from 'vue-search-select'
import IATA from "../../services/airport-iata";
import Helper from "../../services/helper";
import { required } from "vuelidate/lib/validators/";

export default {
  props: ['show'],
  data() {
    return {
      flight: {
        date: moment(Date.now()).add(1,'days').format("YYYY-MM-DD"),
        returndate: moment(Date.now()).add(2,'days').format("YYYY-MM-DD"),
        departure: "",
        arrival: "",
        return: false,
        class: 0,
        passenger: {
          adult: 1,
          child: 0,
          infant: 0
        }
      },
      chidrenage: [
        {val: 1, text: 1},
        {val: 1, text: "< 2"},
        {val: 2, text: 2},
        {val: 3, text: 3},
        {val: 4, text: 4},
        {val: 5, text: 5},
        {val: 6, text: 6},
        {val: 7, text: 7},
        {val: 8, text: 8},
        {val: 9, text: 9},
        {val: 10, text: 10},
        {val: 11, text: 11}
      ],
      numberOfChildren: 0,
      children: [],
      disabledDates: {
        to: new Date(Date.now() - 8640000)
      },
      disableReturnDates: {
        to: new Date(Date.now() - 8640000)
      }
    };
  },
  validations: {
    flight: {
      departure: {
        required
      },
      arrival: {
        required
      }
    }
  },
  mounted() {
    this.spinChangeIcon();
    this.setSearchData();
    Helper.keepOpen("passenger");
  },
  watch: {
    "flight.date"(after, before) {
      if (after) {
        this.flight.date = this.customFormatter(new Date(after));
        this.flight.returndate = this.customFormatter(new Date(moment(after).add(1,'days')));
        this.disableReturnDates.to = new Date(
          +moment(this.flight.returndate).format("x") - 8640000
        );
      }
    },
    "flight.returndate"(after, before) {
      if (after) {
        this.flight.returndate = this.customFormatter(new Date(after));
      }
    },
    numberOfChildren(after, before) {
      if (after == 0) {
        this.children = [];
      }
      if (after) {
        this.children = new Array(after);
        this.children.fill(0);
      }
    },
    children(after, before) {
      if (after) {
        let a = 0;
        let b = 0;
        for (let i = 0; i < after.length; i++) {
          if (after[i] < 2 && after[i] != 0 || after[i] == "< 2" && after[i] != 0 ) {
            a++;
          } else if (after[i] >= 2 && after[i] != 0) {
            b++;
          }
        }

        this.flight.passenger.infant = a;
        this.flight.passenger.child = b;
      }
    }
  },
  methods: {
    submit() {
      let adult = this.flight.passenger.adult
      let child = this.flight.passenger.child
      let infant = this.flight.passenger.infant
      this.$v.$touch();
      if( (adult + child + infant) > 9 ){
        toastr["error"]("Maximum 9 passenger");
        this.loading = false;
        return;
      }

      if(infant > adult) {
        toastr["error"]("Every Infant need at least 1 Adult");
        this.loading = false;
        return;
      }
      if (this.$v.$invalid) {
        toastr["error"]("Please correct all required fields");
        this.loading = false;
        return;
      }
    
      this.$emit('new-search',this.createSearchData())
    },
    setSearchData() {
      if(this.searchData) {
        let count = this.searchData.count
        let fclass = this.searchData.class
        let isRoundtrip = this.searchData.isRoundtrip
        let departureDateReturn = this.searchData.departureDateReturn
        let departureDate = this.searchData.departureDate
        let destination = this.searchData.destination
        let origin = this.searchData.origin

        this.flight = {
          date: departureDate,
          returndate: departureDateReturn,
          departure: origin,
          arrival: destination,
          return: isRoundtrip,
          class: fclass,
          passenger: {
            adult: count.adult,
            child: count.child,
            infant: count.infant
          }
        }
      }
    },
    createSearchData() {
      let searchData = {
        origin: this.flight.departure,
        destination: this.flight.arrival,
        departureDate: this.flight.date,
        adults: this.flight.passenger.adult,
        children: this.children,
        class: this.flight.class,
        isRoundtrip: this.flight.return,
        count: {
          adult: this.flight.passenger.adult,
          child: this.flight.passenger.child,
          infant: this.flight.passenger.infant,
        }
      };

      if(this.flight.return){
        searchData.departureDateReturn = this.flight.returndate;
      }

      return searchData;
    },
    add(e, state) {
      switch (state) {
        case "adult":
          return this.flight.passenger.adult++;
        case "child":
          return this.flight.passenger.child++;
        default:
          return this.flight.passenger.infant++;
      }
    },
    minus(e, state) {
      switch (state) {
        case "adult":
          if (this.flight.passenger.adult <= 1) {
            return 1;
          }
          return this.flight.passenger.adult--;
        case "child":
          if (this.flight.passenger.child <= 0) {
            return 0;
          }
          return this.flight.passenger.child--;
        default:
          if (this.flight.passenger.infant <= 0) {
            return 0;
          }
          return this.flight.passenger.infant--;
      }
    },
    spinChangeIcon() {
      let that = this;
      jQuery("span.changedir").click(function() {
        jQuery(".changedir").toggleClass("spin");
        that.changeDir();
      });
    },
    changeDir() {
      let departure = this.flight.departure;
      let arrival = this.flight.arrival;
      this.flight.departure = arrival;
      this.flight.arrival = departure;
    },
    customFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    },
    lang(key, number = null) {
      if(number == null){
        return window.lang.get(key);
      }
      return window.lang.choice(key, number);
    },
  },
  computed: {
    currentLang() {
      return window.currentLang;
    },
    iata() {
      let flightIATA = [];
      for(var i = 0; i < IATA.length; i++) {
        flightIATA[i] = {
           value: IATA[i],
           text: this.lang("iata." + IATA[i]) + " (" + IATA[i] + ")"
        };
      }
      return flightIATA;
    },
    searchData() {
      return this.$store.getters.getFlightSearchdata
    }
  },
  components: {
    Datepicker,
    ModelSelect,
    ModelListSelect
  }
};
</script>

<style scoped>
div.fluid {
  max-width: 83.5% !important;
}

.m300{
      max-width: 450px;
}

.ui.selection {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.passenger {
  width: 92% !important;
}

.passenger label {
  line-height: 18px;
}

.fromto {
  position: relative;
}

.changedir {
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  right: 55px;
  bottom: 0;
  margin: auto;
  background: #f49b24;
  border-radius: 50%;
  z-index: 9;
}

.changedir img {
  display: block;
  vertical-align: middle;
  transform: rotate(90deg);
  transition: transform ease 0.3s;
}

.changedir:hover{
  cursor:pointer;
}

.input-group-text{
  background-color:#fff !important;
}

.changedir.spin img {
  transform: rotate(-90deg);
  transition: transform ease 0.3s;
}

.pr{
  padding-right:5.5% !important;
}

.slide-toggle-enter-active,
.slide-toggle-leave-active {
     transition: all .3s;
}
.slide-toggle-enter-active {
     overflow: visible;
     max-height: 800px;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
   overflow: hidden;
    max-height: 0;
}
.slide-toggle-leave {
    max-height:  800px;
} 
</style>
