<template>
  <div class="hotel-list-card">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="hotle-cover-img-box">
          <img v-if="imagesrc" :src="imagesrc" alt="img alt" class="hotel-cover-img">

          <div v-show="!imagesrc" class="bydefault">
            <img src="../../../img/png/logo.png" alt="img alt">
          </div>
        </div>
        <!-- /.hotle-cover-img-box -->
      </div>
      <!-- /.col-lg-3 col-md-12 col-sm-12 -->
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="p-3">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="hotel-review-rate">
                <span class="review-star-rate">
                  <star-rating v-bind="starOptions" :rating="ratingg"></star-rating>
                </span>
                <!-- /.review-starts-list  -->
              </div>
              <!-- /.hotel-review-rate -->
              <div class="h5 hotel-name">{{hotelDetails.name}}</div>
              <div class="hotel-location">
                <i class="fa fa-map-marker"></i>
                &nbsp;&nbsp;{{locationAt}}
              </div>
              <!-- /.hotel-location -->
              <div class="hotel-description">
                <p class="hotel-roomtype">
                  <i class="fa fa-bed"></i>
                  {{hotelDetails.solutionName}}
                </p>
                <p class="hotel-deadline">
                  <i class="fa fa-calendar-times-o"></i>
                  Cancellation deadline:
                  <span class="deadlineInfo">
                    <span v-if="!hotelDetails.deadline" class="text-danger">non-refundable</span>
                    <span v-else class="text-success">{{hotelDetails.deadline}}</span>
                  </span>
                </p>
              </div>
              <!-- /.hotel-description -->
            </div>
            <!-- /.col-lg-8 col-md-8 col-sm-12 -->
            <div
              class="col-lg-4 col-md-4 col-sm-12 d-inline-flex justify-content-center align-items-center mt-3 mt-lg-0 mt-md-0"
            >
              <div>
                <div class="small text-center text-capitalize mt-1">price for 2 nights</div>
                <!-- /.small -->
                <div class="small mb-2">
                  <span class="h3">{{hotelDetails.currency + " " + hotelDetails.price}}</span>
                  <div>{{hotelDetails.price + " " + hotelDetails.currency}} / person</div>
                </div>
              </div>
            </div>
            <!-- /.col-lg-4 col-md-4 col-sm-12 -->
          </div>
          <!-- /.row -->
          <!-- /.hotel-review-rate -->
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="row gutters-2 mr-0 ml-0 mt-3 mt-lg-0 mt-md-0">
                <!-- <div class="col-lg-2 col-md-2 col-3">
                  <div class="img-square">
                    <img src="../../../img/png/sample.png" alt="image alt">
                  </div>
                </div>-->
                <!-- /.img-square -->
                <div class="col-lg-12 col-md-12 col-12">((Comming Soon Review Feature))</div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.col-lg-8 col-md-8 col-sm-12 -->
            <div class="col-lg-4 col-md-4 col-sm-12 d-inline-flex align-items-center">
              <div class="btn btn-book-now btn-block mt-3 mt-lg-0 mt-md-0">Details</div>
              <!-- /.btn btn-booking btn-block -->
            </div>
            <!-- /.col-lg-4 col-md-4 col-sm-12 -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.col-lg-3 col-md-12 col-sm-12 -->
    </div>
    <!-- /.row -->
  </div>
</template>

<script>
import StarRating from "vue-star-rating";
export default {
  props: ["hotelDetails"],
  data() {
    return {
      norefund: true,
      starOptions: {
        "rounded-corners": true,
        "read-only": true,
        "star-size": 15,
        "show-rating": false
      }
    };
  },
  methods: {
    lang(key, number = null) {
      if (number == null) {
        return window.lang.get(key);
      }
      return window.lang.choice(key, number);
    }
  },
  computed: {
    imagesrc() {
      let url = "";
      if (this.hotelDetails.images[0]) {
        let width = this.hotelDetails.images[0].width
          ? this.hotelDetails.images[0].width
          : "1000";
        let height = this.hotelDetails.images[0].height
          ? this.hotelDetails.images[0].height
          : "1000";

        url =
          "https://multireisen.com/i.php?src=" +
          this.hotelDetails.images[0].id +
          "&w=" +
          width +
          "&h=" +
          height;
      }

      return url;
    },
    locationAt() {
      let locName = this.hotelDetails.locName
        ? ", " + this.hotelDetails.locName
        : "";
      let locationAt = this.hotelDetails.cityName + locName;
      return locationAt;
    },
    ratingg() {
      return Number(this.hotelDetails.category);
    },
    currentLang() {
      return window.currentLang;
    }
  },
  components: {
    StarRating
  }
};
</script>

<style>
.bydefault {
  width: 100%;
  height: 100%;
  background: transparent url("../../../img/png/bydefault.png") center center
    no-repeat;
  background-size: cover;
  position: relative;
}
.bydefault > img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0.5;
}
.img-square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  background: red;
}
.img-square img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.hotel-roomtype {
  line-height: 1em;
  font-size: 13px;
  margin-bottom: 0.5em;

  /* padding-top: 10px; */
}
.hotel-deadline {
  line-height: 1em;
  font-size: 13px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.gutters-1 {
  margin-right: 1px;
  margin-left: 1px;
}
.row.gutters-1 > [class^="col-"],
.row.gutters-1 > [class*=" col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

.row.gutters-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.row.gutters-2 > [class^="col-"],
.row.gutters-2 > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}
</style>
