<template>
  <div class="card  heading p-5">
    <div class="container">
      <div class="card-block row">
        <div class="col-md-6">
          <div class="search-form bg-light p-3">
            <ul class="nav header-form nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-building-o" aria-hidden="true"></i>  Hotels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#flight" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-plane"></i>  {{lang('flightsearch.flights')}}</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane p-3 show active" id="hotel" role="tabpanel" aria-labelledby="home-tab">
                <app-hotel-search></app-hotel-search>
              </div>
              <div class="tab-pane p-3" id="flight" role="tabpanel" aria-labelledby="profile-tab">
                <app-flight-search></app-flight-search>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 p-5">
          <h2>AROUND THE WORLD</h2>
          <p>Travel around the world by booking your flights and hotels in TogaGo</p>
          <button class="btn bg-blue text-light">View More</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppHotelSearch from "../hotel/Search";
import AppFlightSearch from "../flight/Search";

export default {
  computed: {},
  components: {
    AppHotelSearch,
    AppFlightSearch
  },
  methods: {
    lang(key) {
      return window.lang.get(key);
    }
  }
};
</script>

<style>
</style>
