<template>
  <nav class="navbar navbar-expand-md navbar-light">
    <router-link class="navbar-brand" :to="`/${currentLang}`"><img src="../../img/png/togago_logo.png" width="80px" alt=""></router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav ml-auto">
        <li v-if="loggedin" class="nav-item active">
          <a class="nav-link" href="#"><img style="vertical-align:-2px" src="../../img/svg/booking.svg" width="15px" alt=""> <router-link :to="`/${currentLang}/account/my-bookings`">{{lang("menu.booking")}}</router-link> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-blue dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="vertical-align:-2px" src="../../img/svg/globe.svg" width="15px" alt=""> {{lang("menu.language")}}</a>
          <div class="dropdown-menu dropdown-menu-right" id="langlist" aria-labelledby="dropdown05">
            <a class="dropdown-item" v-for="(language,index) in langList" :key="index" :href="'/' + language.code + getRootUrl">{{language.native}}</a>
          </div>
        </li>
        <li v-if="!loggedin" class="nav-item dropdown" id="loginnav">
          <a class="nav-link text-blue dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="vertical-align:-5px" src="../../img/svg/avatar.svg" width="20px" alt=""> {{lang("menu.login.login")}}</a>
          <div class="dropdown-menu dropdown-menu-right" id="login" aria-labelledby="dropdown04">
            <app-login v-on:showModal="showYippiLogin($event)"></app-login>
          </div>
        </li>
        <li v-if="loggedin">
          <a class="nav-link text-blue dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="vertical-align:-5px" src="../../img/svg/avatar.svg" width="20px" alt=""> {{username}}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
            <router-link class="dropdown-item" :to="`/${currentLang}/account/my-account`">My Account</router-link>
            <a class="dropdown-item" href="#" @click="logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>

      <!-- Yippi Modal -->
    <div v-if="showmodal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

        <div class="modal-dialog" role="document">
            <div class="modal-content bg-yippi">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Yippi Login</h5>
                    <button type="button" @click="showmodal = false" id="closebtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-light" aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <img src="../../img/png/yippi_logo.png" width="30%"/>
                  </div>
                  <div class="bg-light m-3 p-3">
                    <form @submit.prevent="yippiLoginSubmit">
                      <div class="form-group">
                        <div  :class="status($v.yusername)" class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text yinput"><i class="fa fa-user-circle-o"></i></span>
                          </div>
                          <input :class="status($v.yusername)" v-model="$v.yusername.$model" type="text" class="yinput form-control" placeholder="Yippi Username">
                        </div>
                        <div class="errortext text-left" v-if="!$v.yusername.required"><small>Username is required!</small></div>
                      </div>
                      <div class="form-group">
                        <div  :class="status($v.ypassword)" class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text yinput"><i style="padding: 0 3px;" class="fa fa-lock"></i></span>
                          </div>
                          <input :class="status($v.ypassword)" v-model="$v.ypassword.$model" type="password" class="yinput form-control" placeholder="Yippi Password">
                        </div>
                        <div class="errortext text-left" v-if="!$v.ypassword.required"><small>Password is required!</small></div>
                      </div>
                      <div class="text-right">
                        <button type="submit" :disabled="loading" class="btn yloginbtn text-light">
                          <span v-show="!loading">Login</span>
                          <span v-show="loading"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>

        </div>
      </div>
    </transition>
  </div>
  </nav>
</template>

<script>
import AppLogin from "../auth/Login";
import {required} from 'vuelidate/lib/validators/'

export default {
  data(){
    return {
      username: null,
      loggedin: false,
      showmodal: false,
      yusername: 'demo-freddy',
      ypassword: 'tinnolab123',
      loading: false
    }
  },
  validations:{
    ypassword: {
      required
    },
    yusername: {
      required
    }
  },
  beforeCreate() {
    let token = localStorage.getItem("auth_token")
    if(token) {
      axios.defaults.headers.common["Authorization"] = "Bearer " + token;
      axios.get('/api/auth/me').then(({data}) => {
        if(!data.authenticated) {
          return
        }
        this.loggedin = true;
        this.username = data.username;
      })
      .catch((err) => {
        return
      })
    }
  },
  watch:{
    showmodal: function(isOpen) {
      if (isOpen) {
          document.documentElement.style.overflow = 'hidden'
          // document.documentElement is the same as using document.querySelector('#root')
        } else {
          document.documentElement.style.overflow = 'auto'
        }
    }
  },
  methods: {
    lang(key) {
      return lang.get(key);
    },
    setLocale(key) {
      console.log(lang);
      return lang.setLocale(key);
    },
    logout() {
      return axios
        .post("/api/auth/logout")
        .then(response => {
          toastr["success"](response.data.message);
          localStorage.removeItem("auth_token");
          localStorage.removeItem("auth");
          this.$store.dispatch("resetAuth");
          axios.defaults.headers.common["Authorization"] = null;
          location.href = "/";
        })
        .catch(error => {
          console.log(error);
        });
    },
    showYippiLogin(e) {
      $('#loginnav a').click()
      this.showmodal = e
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    yippiLoginSubmit(e) {
      this.$v.$touch();

      if (this.$v.$invalid) {
        toastr["error"]('Please enter all require fields');
        return;
      }
      this.loading = true;
      axios.post('/api/yippi/weblogin', {
        username: this.yusername,
        password: this.ypassword,
      })
      .then(({data}) => {
        if("msg" in data) {
          toastr['error'](data.msg)
          this.loading = false;
          return
        }
        if(data.success) {
          //set auth token
          localStorage.setItem("auth_token", data.auth.access_token);
          //store in vuex
          this.$store.dispatch("setUserdata", data.auth);
          //set authorize header
          axios.defaults.headers.common["Authorization"] =
            "Bearer " + localStorage.getItem("auth_token");
        }
        
      }).then(() => {
        //close the modal
        this.showmodal = false
        toastr["success"]("Successfully Login");
        //redirect
        location.href = window.location.href;
      })
    }
  },
  computed: {
    langList() {
      return window.supportedLangs;
    },
    getRootUrl() {
      return (
        "/" +
        window.location.pathname
          .split("/")
          .splice(2)
          .join("/") +
        window.location.search
      );
    },
    currentLang() {
      return window.currentLang;
    },
  },
  components: {
    AppLogin
  }
};
</script>

<style scoped lang="scss">

#login {
  min-width: 300px;
}
nav {
  background-color: #fff !important;
}


  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:scroll;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

/* YIPPI FORM */

  .yinput{
  border-radius:0;
  }

.modal-body {
  overflow-y: auto !important;
  height:auto;
}

.modal-header{
  border-bottom:none;
}

.yloginbtn{
  border-radius:0;
}

.yloginbtn{
  border-radius:0;
  background-color:#3c8dbc;
  &:hover{
    background-color:darken(#3c8dbc,2);
  }
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 400px;
}}

</style>
