<template>
      <div class="modal-mask">
        <div class="modal-wrapper">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h1 v-if="emailshow" class="h5">{{type == "add" ? "Add email to your account" : "Change Your Email"}}</h1>
                    <h1 v-if="verifyshow" class="h5">Enter verification code</h1>
                    <h1 v-if="newpasswordshow" class="h5">Enter a new password to your account</h1>
                    <button type="button" @click="closemodal" id="closebtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div v-if="emailshow" class="form-group p-3 row">
                      <input :class="status($v.email)" v-model="$v.email.$model" class="col-sm-8 form-control" type="email" placeholder="Email">
                      <span :class="status($v.email)" class="col-sm-4 px-1">
                        <input class=" btn bg-blue btn-block text-light" @click.prevent="processEmail" type="submit" :value="type == 'add' ? 'Add' : 'Change'">
                      </span>
                      <div class="errortext text-left" v-if="!$v.email.required">Email is required</div>
                      <div class="errortext text-left" v-if="!$v.email.email">Please enter a valid email address</div>
                    </div>
                  <div>
                    <div v-if="verifyshow" class="form-group p-3 row">
                      <input :class="status($v.verify)" v-model="$v.verify.$model" class="col-sm-8 form-control" placeholder="Verification Code">
                      <span class="col-sm-4 px-1">
                        <input class="btn bg-blue btn-block text-light" @click.prevent="verifyEmail" type="submit" value="Verify"><br>
                      </span>
                      <small :class="status($v.verify)" class="col-sm-12 p-0">Did not receive our verification code?<a @click.prevent="verifyEmail(null,true)" href="#"> Resend</a></small>
                      <div class="errortext text-left" v-if="!$v.verify.required">Verification code is required</div>
                      <div class="errortext text-left" v-if="!$v.verify.minLength">Verification code must be 5 char</div>
                    </div>
                    <div v-if="newpasswordshow && type != 'change'" class="form-group p-3 row">
                      <input :class="status($v.newpassword)" v-model="newpassword" class="col-sm-8 form-control" type="password" placeholder="New Password">
                      <span :class="status($v.newpassword)" class="col-sm-4 px-1">
                        <input class="btn bg-blue btn-block text-light" @click.prevent="newPassword" type="submit" value="Save">
                      </span>
                      <div class="errortext text-left" v-if="!$v.newpassword.required">Verification code is required</div>
                      <div class="errortext text-left" v-if="!$v.newpassword.minLength">Verification code must be 8 char</div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        </div>
      </div>
</template>

<script>
import {required,email,minLength,maxLength} from 'vuelidate/lib/validators/'

export default {
  props: ["toggle", "type"],
  data() {
    return {
      showmodal: this.toggle,
      emailshow: this.toggle,
      verifyshow:false,
      newpasswordshow:false,
      email: '',
      newpassword: '',
      verify: '',
    }
  },
  validations: {
    email :{
      required,
      email
    },
    verify : {
      required,
      maxLength: maxLength(5)
    },
    newpassword: {
      required,
      minLength: minLength(8)
    }
  },
  mounted() {
    this.setForm()
  },
  methods:{
    closemodal() {
      this.$emit('show', !this.showmodal)
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    },
    setForm() {
      if(this.type == "add") {
        this.addemail = true
      }
      else {

      }
    },
  processEmail(){
    this.$v.email.$touch()

    if(this.$v.email.$invalid) {
      toastr['error']('Please enter all required field')
      return
    }
    axios.post('/api/account/addchange_email', {
      email : this.email,
      type : 'email'
    }).then(({data}) => {
      if(data.success) {
        toastr['success'](data.msg)
        this.emailshow = false
        this.verifyshow = true
      }
      else{
        toastr['error'](data.error)
        return
      }
    })
  },
  verifyEmail(e,resend = false){
    if(resend) {
      this.resendCode()
      return
    }
    this.$v.verify.$touch()

    if(this.$v.verify.$invalid) {
      toastr['error']('Please enter all required field')
      return
    }

    axios.post('/api/account/addchange_email', {
      email : this.email,
      code : this.verify,
      type : 'verify'
    }).then(({data}) => {
        if(data.success) {
          if(this.type == "add" && !resend) {
            toastr['success'](data.msg)
            this.verifyshow = false
            this.newpasswordshow = true
          }
        }
      })
    },
    resendCode() {
      axios.post('/api/account/addchange_email', {
        email : this.email,
        type : this.type
      }).then(({data}) => {
        if(data.success) {
          toastr['success']('Verification code successfully resend')
        }
        else{
          toastr['error'](data.error)
          return
        }
      })
    },
    newPassword(){
      this.$v.newpassword.$touch()

      if(this.$v.newpassword.$invalid) {
        toastr['error']('Please enter all required field')
        return
      }
      axios.post('/api/account/addchange_email', {
        newpassword : this.newpassword,
        type : this.type + '-password'
      }).then(({data}) => {
        if(data.success) {
          toastr['success'](data.msg)
        }
      })
    }
  },

}
</script>

<style lang="scss">
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:scroll;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }


.modal-body {
  overflow-y: auto !important;
  height:auto;
}

.modal-header{
  border-bottom:none;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 400px;
}}
</style>
