<template>
  <table v-if="bookings.length != 0" id="flights" class="table table-hover table-striped">
    <thead>
      <tr>
        <td>Date Issue</td>
        <td>Booking ID</td>
        <td>Departure</td>
        <td>Arrival</td>
        <td>Type</td>
        <td>Status</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
        <tr v-for="(booking,index) in bookings" :key="index">
          <td>{{formatDate(booking.date_created.date)}}</td>
          <td>{{booking.booking_id}}</td>
          <td>
            <div class="trip">
              <span>{{booking.origin}}<br></span>
              <span>{{booking.departure}}</span>
            </div>
          </td>
          <td>
            <div class="trip">
              <span>{{booking.destination}}<br></span>
              <span>{{booking.arrival}}</span>
            </div>
          </td>
          <td>
            <span v-show="booking.departureDateReturn" class="badge badge-secondary text-light">Return</span>
            <span v-show="!booking.departureDateReturn" class="badge badge-primary text-light">One Way</span>
          </td>
          <td style="text-transform:capitalize">
            {{booking.status}}
          </td>
          <td>
            <a href="#">View</a>
          </td>
        </tr>
    </tbody>

  </table>
  <div v-else>
    Loading...
  </div>
</template>

<script>
export default {
  created() {
      this.getList();
  },
  mounted() {
        
  },
  data() {
    return {
      bookings : []
    }
  },
  methods:{
    getList() {
        axios.get('/api/account/flightbooking')
            .then(({data}) => {
                if(!data.success) {
                    toastr['error'](data.msg)
                    return
                }
                this.bookings = data.data.booking
            })
            .then(() => {
                this.initTable()
            })
    },
    formatDate(date) {
      return moment(date).format('YYYY-MM-DD')
    },
    initTable() {
       var table = $('#flights').DataTable({
          rowReorder: true,     
          // dom: 'Bfrtip',
          // buttons: [
          //     {
          //         text: 'My button',
          //         action: function ( e, dt, node, config ) {
          //             alert( 'Button activated' );
          //         }
          //     }
          // ],
          "pageLength": 5,
          "columns": [
            null,
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
          ],
          "fnDrawCallback": function(oSettings) {
              if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                  $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
              }
          },
          "language": {
            "emptyTable": "You don't have any booking"
          }
        });
    }
  }
  
}
</script>

<style scoped>
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8ffff !important;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: #fff !important;
}

.table-hover tbody tr:hover {
  background-color: #f8ffff !important;
}
</style>
