<template>
  <div>
      <form class="p-3">
      <h3>Basic</h3>
      <div class="form-group form-row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-md-5 col-sm-10">
          <input type="text" class="form-control" :value="user.name">
        </div>
      </div>
      <div v-if="user.bind_status == 1 || user.bind_status == 3">
        <div class="form-group form-row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-md-5 col-sm-10">
            <div class="input-group">
              <input type="email" readonly="true" class="form-control" :value="user.email">
              <div class="input-group-prepend">
                <button @click="changeEmail" class="btn btn-outline-primary" type="button">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-sm-2 col-form-label">Current Password</label>
          <div class="col-md-5 col-sm-10">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-sm-2 col-form-label">New Password</label>
          <div class="col-md-5 col-sm-10">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
      </div>
      <div v-else class="form-group form-row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-md-5 col-sm-10">
          <label class="col-form-label"><a @click.prevent="addEmail" href="#">Click to add email</a></label>
        </div>
      </div>
    </form>
    <div v-if="showmodal">
        <transition name="modal">
          <change-email :toggle="showmodal" :type="modaltype" v-on:show="show($event)"></change-email>
        </transition>
    </div>
  </div>
</template>

<script>
import ChangeEmail from './ChangeEmail'

export default {
  data() {
    return {
      showmodal: false,
      modaltype: 'add',
      user: {}
    }
  },
  mounted() {
    this.setUser()
  },
  methods:{
    setUser() {
      this.user = {
        ...this.authData
      }
    },
    show(e) {
      this.showmodal = e
    },
    addEmail() {
      this.showmodal = !this.showmodal
      this.modaltype = 'add'
    },
    changeEmail() {
      this.showmodal = !this.showmodal
      this.modaltype = 'change'
    }
  },
  computed: {
    authData() {
      return this.$store.getters.getUserdata
    }
  },
  components: {
    ChangeEmail,
  }
}
</script>

<style lang="scss">
 
</style>
