<template>
  <div class="container">
    <nav class="mt-3 bg-none" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 bg-none">
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang">Home</router-link></li>
          <!-- <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/prebooking'">Flight Prebooking</router-link></li> -->
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-md pt-0 p-3 mb-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-edit-tab" data-toggle="pill" href="#v-pills-edit" role="tab" aria-controls="v-pills-edit" aria-selected="true"> <i class="fa fa-user pr-2"></i> User Info</a>

          <a class="nav-link" id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab" aria-controls="v-pills-address" aria-selected="true"> <img width="19px" height="14px" src="../../img/svg/booking.svg" alt=""> Address</a>
          
          <a class="nav-link" id="v-pills-yippi-tab" data-toggle="pill" href="#v-pills-yippi" role="tab" aria-controls="v-pills-yippi" aria-selected="false"><i class="fa fa-duck pr-2"></i> Yippi</a>
        </div>
      </div>
      <div class="col-md-10 p-3 mb-3">
        <div class="card p-3 mb-3 tab-content" id="v-pills-tabContent">
          <div class="tab-pane show active" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <!-- Edit -->
              <user-info></user-info>
          </div>
          <div class="tab-pane" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
              <!-- Address -->
             
          </div>
          <div class="tab-pane" id="v-pills-yippi" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <!-- Yippi -->
             <div class="p-3">
                <div class=" row">
                  <label class="col-sm-2 col-form-label">Status:</label>
                  <div class="col-md-5 col-sm-10">
                    <label class="col-form-label">Already Bind</label>
                  </div>
              </div>
              <div class=" row">
                  <label class="col-sm-2 col-form-label">Username:</label>
                  <div class="col-md-5 col-sm-10">
                    <label class="col-form-label">demo-freddy</label>
                  </div>
              </div>
              <div class=" row">
                  <label class="col-sm-2 col-form-label">Point:</label>
                  <div class="col-md-5 col-sm-10">
                    <label class="col-form-label">3.55 Yipps</label>
                  </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserInfo from './components/UserInfo'

export default {
    data() {
      return {
        yippibind: false,
        emailbind: true,
      }
    },
    computed:{
        currentLang() {return window.currentLang}
    },
    components:{
      UserInfo
    }
}
</script>

<style scoped>

</style>
