<template>
  <div class="container">
    <nav class="mt-3 bg-none" aria-label="breadcrumb"> 
        <ol class="breadcrumb p-0 bg-none">
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang">Home</router-link></li>
          <!-- <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/prebooking'">Flight Prebooking</router-link></li> -->
          <li class="breadcrumb-item active" aria-current="page">My Bookings</li>
        </ol>
    </nav>
      <div class="row">
          <div style="height:300px" class="col-md card p-3 mb-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i class="fa fa-plane pr-2"></i> Flight</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-building-o pr-2"></i> Hotel</a>
            </div>
          </div>
          <div class="col-md-10">
              <div class="card p-3 mb-3 tab-content" id="v-pills-tabContent">
                <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <!-- Flight -->
                    <flights ></flights>
                </div>
                <div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <!-- Hotel -->
                </div>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
import Flights from "./components/Flights";

export default {
  mounted() {

    },
    components:{
        Flights,
    },
    methods: {
        
    },
    computed:{
        currentLang() {return window.currentLang}
    }
}
</script>

<style>

</style>
