// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
// Variables
@import "variables";
// Bootstrap
@import "../plugins/bootstrap/sass/bootstrap";
// Datatables
@import "../plugins/datatables/datatables.min.css";
// Toastr
@import "../plugins/toastr/toastr.min.css";
// Animate
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css");
//Flaticon
@import "../plugins/flaticon/flaticon.css";


html {
    min-height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}
@media (min-width: 1024px) {
    .hotle-cover-img-box{
		height: 203px !important;
	}
	.hotle-cover-img-box > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
    footer {
        position: relative;
        right: 0;
        left: 0;
        width: 100%;
        background: #6cf;
    }
}

#root {
    min-height: 100vh;
}

#root > div {
    min-height: 100%;
    margin-bottom: 20px;
}

.togago-wrapper {
    min-height: 85.3vh !important;
  }

  .subheader-container{
    position:relative;
  }
  
  .subheader{
    width:100%;
    min-height:150px;
    position:absolute;
  }

.container {
    max-width: 1200px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(18, 73, 80, 0.03);
    background-color: #006c8f;
}

.dirty {
    border-color: #5a5 !important;
}

.error {
    border-color: red !important;
}

.errortext {
    display: none;
}

.error + .errortext {
    display: block;
    color: red;
}

.dirty:focus {
    outline-color: #8e8 !important;
}

.error:focus {
    outline-color: #f99 !important;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-yellow {
    background-color: #f49b24 !important;
}

.bg-yippi{
    background-color: #1CABE2 !important;
}

.bg-blue {
    background-color: #006c8f !important;
}

.bg-light {
    background-color: #fff !important;
}

.bg-none {
    background-color: transparent !important;
}

.text-blue {
    color: #006c8f !important;
}
.text-yippi {
    color: #1CABE2 !important;
}

.text-yellow {
    color: #f49b24 !important;
}

.fade {
    animation: fadeInOut 3s infinite;
}

.bborder {
    border: solid 0.5px rgb(223, 223, 223);
}

.boxshadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.prefix .menu.visible {
    width: 250px !important;
  }

.breadcrumb-item + .breadcrumb-item::before {
    color: #f49b24;
    content: "\f061";
    font-family: "FontAwesome";
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mymove {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.show1,
.show2,
.show3,
.show4,
.show5,
.show6,
.show7,
.show8,
.show9 {
    display: none !important;
}

.ui.fluid.search.selection {
    border-color: silver;
    min-height: auto !important;
}

input,
select {
    border-color: rgba(34, 36, 38, 0.15);
}

input:hover,
select:hover {
    border-color: rgba(34, 36, 38, 0.35);
}

.search .text.default {
    color: #495057 !important;
}

.vdp-datepicker__calendar-button .input-group-text {
    background-color: #fff !important;
}

.vdp-datepicker__calendar-button + input {
  background-color:#fff !important;
}

div#login.show{
  display:block !important;
}
div#langlist.show{
  display:block !important;
}

.filterloading{
  position:relative;
}

.filterloading:before{
  content:"";
  width:95%;
  height:98%;
  background-image: url("data:image/svg+xml,%3Csvg width='200px' height='200px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-ellipsis' style='background: none;'%3E%3C!--circle(cx='16',cy='50',r='10')--%3E%3Ccircle cx='84' cy='50' r='1.52588e-05' fill='%23006c8f'%3E%3Canimate attributeName='r' values='10;0;0;0;0' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cx' values='84;84;84;84;84' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='84' cy='50' r='10' fill='%23f49b24'%3E%3Canimate attributeName='r' values='0;10;10;10;0' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='-0.7s'%3E%3C/animate%3E%3Canimate attributeName='cx' values='16;16;50;84;84' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='-0.7s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='10' fill='%23006c8f'%3E%3Canimate attributeName='r' values='0;10;10;10;0' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='-0.35s'%3E%3C/animate%3E%3Canimate attributeName='cx' values='16;16;50;84;84' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='-0.35s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='9.99998' fill='%23f49b24'%3E%3Canimate attributeName='r' values='0;10;10;10;0' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cx' values='16;16;50;84;84' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='0' fill='%23006c8f'%3E%3Canimate attributeName='r' values='0;0;10;10;10' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cx' values='16;16;16;50;84' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' calcMode='spline' dur='1.4s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center 10%;
  position:absolute;
  top:0;
  right:0;
  left:0;
  margin:auto;
  z-index:92;
}

.filterloading:after{
content:"";
width:97%;
height:96%;
background:rgba(0,0,0,0.03);
border-top-left-radius:15px;
border-bottom-right-radius:15px;
position:absolute;
top:30px;
right:0;
left:0;
margin:auto;
z-index:90;
}


/********************************************************/
/*                       HOTEL                          *
/********************************************************/
.hotel-facilities {
    padding: 4px 16px;
    margin: 8px 0;
    border-radius: 4px;
    transition: all ease 250ms;
    border: 1px solid #ebeded;
    cursor: pointer;
}
.hotel-facilities:hover {
    background: rgba(235, 237, 237, 0.7);
}
.hotel-facilities i {
    margin-right: 8px;
}

.hotel-list-card {
    background: #fff;
    margin: 24px 0;
    border: 1px solid #ebeded;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: all ease 250ms;
}
.hotel-list-card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.hotel-list-card:nth-child(1) {
    margin-top: 0;
}
.hotel-list-card .hotle-cover-img-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.hotel-list-card .hotle-cover-img-box .wish-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}
.hotel-list-card .hotle-cover-img-box .wish-btn.check i {
    color: #db2630;
    opacity: 1;
}
.hotel-list-card .hotle-cover-img-box .wish-btn i {
    pointer-events: none;
    font-size: 25px;
    opacity: 0.6;
    color: black;
    text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;
}
.hotel-list-card .hotle-cover-img-box .hotel-cover-img {
    width: 100%;
    height: 100%;
    min-height: 187px;
    margin: 0;
    object-fit: cover;
    object-position: center;
    padding: 0;
}
.hotel-list-card .hotel-location {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin: 8px 0;
}
.hotel-list-card .hotel-description {
    font-size: 12px;
    margin: 8px 0;
}
/********************************************************/
/*                      LISTING CARDS                   *
/********************************************************/
.list-card {
    width: 100%;
    margin: 16px 0;
    display: inline-block;
}
.list-card .img {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: 3px;
    background: #d8d8d8;
    display: block;
    height: 200px;
    margin-bottom: 8px;
}
.list-card .img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}
.list-card .info {
    margin: 8px 0;
}
.list-card .info .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.list-card .info .descrtiption {
    font-size: 14px;
    color: #70707a;
}

.travel-photos-list-card {
    width: 100%;
    margin: 16px 0;
    display: inline-block;
}
.travel-photos-list-card .img {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    background: #d8d8d8;
    display: block;
    height: 200px;
    margin-bottom: 8px;
}
.travel-photos-list-card .img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}
/********************************************************/
/*                        SECTION                       *
/********************************************************/
.section {
    padding: 64px 0;
}
.section.grey {
    background: #f8f8f8;
}
.section.img {
    background: fixed center;
    background-size: cover;
    position: relative;
}
.section.img .container {
    z-index: 20;
    position: relative;
}
.section.img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.section.md {
    padding: 40px 0;
}
.section.sm {
    padding: 16px 0;
}
.section.page-top-bar {
    padding: 16px 0;
    border-bottom: 1px solid #ebeded;
}

/********************************************************/
/*                        WIDGET                        *
/********************************************************/
.widget {
    margin: 32px 0;
    border: 1px solid #ebeded;
    border-radius: 4px;
    background: #fff;
}
.widget.w600 {
    max-width: 600px;
}
.widget.sm .header {
    padding: 16px 16px;
}
.widget.sm .body {
    padding: 16px 16px;
}
.widget .header {
    padding: 16px 32px;
}
.widget .header .title {
    font-size: 18px;
    font-weight: 600;
}
.widget .body {
    padding: 16px 32px;
}

.sidebar-widget {
    margin: 8px 0;
}
.sidebar-widget .title {
    font-size: 16px;
    color: #35454d;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 16px;
    text-transform: capitalize;
}
.sidebar-widget .list-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-widget .list-items .list-items-item {
    display: flex;
    align-items: center;
}
.sidebar-widget .list-items .list-items-item .info {
    display: flex;
    flex-direction: column;
}
.sidebar-widget .list-items .list-items-item .info .title {
    font-size: 11px;
    max-width: 130px;
    margin: 0;
}
.sidebar-widget .list-items .list-items-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.sidebar-widget .list-items .list-items-item i {
    margin-right: 8px;
}

/********************************************************/
/*                        BUTTONS                       *
/********************************************************/
.btn {
    border-radius: 30px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:5px 20px;
}
.btn.no-round {
    border-radius: 0;
}
.btn.round-1 {
    border-radius: 4px;
}
.btn.btn-default {
    background: #fff;
    color: #1b1e21;
}
.btn.btn-shadow {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14);
}
.btn.btn-primary {
    background: #ffbb00;
    border-color: #ffbb00;
    color: #fff;
    font-size: 16px -2;
    text-transform: capitalize;
}
.btn.btn-book-now {
    background: #428bca;
    border-radius: 4px;
    color: #fff;
}
/********************************************************/
/*                       ICHECK                         *
/********************************************************/
.i-check {
    width: 20px;
    height: 20px;
    line-height: 18px;
    top: 2px;
    margin-right: 0.5em;
}
/********************************************************/
/*                      REVIEW                          *
/********************************************************/
.review-star-rate {
    display: flex;
    color: rgba(0, 0, 0, 0.1);
    margin-top: -10px;
}
.review-star-rate .rate.full i {
    color: #ffbb00;
}
.review-star-rate.md .rate i {
    font-size: 16px;
}
.review-star-rate.small .rate i {
    font-size: 12px;
}

.hotel-review-rate .review-star-rate {
    margin-bottom: 1em;
}

/********************************************************/
/*                      Flat icon                        *
/********************************************************/
.small-icon:before,
.small-icon:before,
.small-icon:after,
.small-icon:after {
    font-size: 18px;
}

.x-small-icon:before,
.x-small-icon:before,
.x-small-icon:after,
.x-small-icon:after {
    font-size: 12px;
}
