<template>
  <footer class="bottom bg-dark p-3">
    <div class="container">
      <a class="text-light" href="#">2018 Togago.com</a>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>
