<template>
  <header id="header">
    <home-header></home-header>
  </header>
</template>

<script>
import HomeHeader from "../components/HomeHeader";

export default {
  components: {
    HomeHeader
  }
};
</script>

<style>
nav {
  background-color: #fff !important;
}
.form-control:disabled,
.form-control[readonly],
.input-group-text {
  background-color: #fff !important;
  opacity: 1;
}
.heading {
  background-color: #f4f6f9;
}

#hotel,
#flight {
  background-color: #006c8f;
}

.header-form li a.active {
  border-color: transparent !important;
  background-color: #006c8f !important;
  color: #fff !important;
}

.header-form li a {
  color: #353333 !important;
}

.search-form {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
</style>
