<template>
  <div>
    <app-header></app-header>
    <app-home></app-home>
  </div>
</template>

<script>
import AppHeader from "./Header";
import AppHome from "../components/Home";

export default {
  components: {
    AppHeader,
    AppHome,
  }
};
</script>

<style>
</style>
