<template>
  <div class="container">
    <nav class="mt-3 bg-none" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 bg-none">
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/search'">Flight Search</router-link></li>
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/prebooking'">Flight Prebooking</router-link></li>
          <li class="breadcrumb-item active" aria-current="page">Flight Booking</li>
        </ol>
    </nav>
    <div class="row mb-5">
      <div class="col-md-9 boxshadow bg-light p-3">
          <h3>Contact Info</h3>
        
          <fieldset class="p-4 mb-3">
            <div class="form-row">
              <label class="form-group col-sm-2 col-form-label">Title</label>
              <div class="form-group col-sm-2">
                <select :disabled="loading" :class="status($v.contact.title)" v-model="$v.contact.title.$model" class="form-control">
                  <option value="MR">Mr</option>
                  <option value="MRS">Mrs</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <label class=" form-group col-sm-2 col-form-label">First Name</label>
              <div class="form-group col-sm-4">
                <input :disabled="loading" :class="status($v.contact.firstName)" v-model="$v.contact.firstName.$model" class="form-control" type="text" >
                <div v-if="!$v.contact.firstName.required" class="errortext">This field is required</div>
              </div>

              <label class="form-group col-sm-2 col-form-label">Last Name</label>
              <div class="form-group col-sm-4">
                <input :disabled="loading" :class="status($v.contact.lastName)" v-model="$v.contact.lastName.$model" class="form-control" type="text" >
                <div v-if="!$v.contact.lastName.required" class="errortext">This field is required</div>
              </div>
            </div>

            <div class="form-row">
              <label class="form-group col-sm-2 col-form-label">Phone</label>
              <div class="form-group mb-0 col-sm-4">
                <div class="form-row">
                  <div class="col-sm-4 prefix">
                    <model-select class="form-control" :class="status($v.contact.phonenumber)" :options="phonecode" v-model="$v.contact.phoneprefix.$model" placeholder="+60"></model-select>
                  </div>
                  <div class="form-group col-sm-8">
                    <input :disabled="loading" :class="status($v.contact.phonenumber)" v-model="$v.contact.phonenumber.$model" placeholder="1234567890" class="form-control" type="text" >
                    <div v-if="!$v.contact.phonenumber.required" class="errortext">This field is required</div>
                    <div v-if="!$v.contact.phonenumber.numeric" class="errortext">Phone Number must be numeric</div>
                  </div>
                </div>
              </div>

              <label class="form-group col-sm-2 col-form-label">Email</label>
              <div class="form-group col-sm-4">
                <input :disabled="loading" :class="status($v.contact.email)" v-model="$v.contact.email.$model" class="form-control" type="email" >
                <div v-if="!$v.contact.email.required" class="errortext">This field is required</div>
                <div v-if="!$v.contact.email.email" class="errortext">Email is not valid</div>
              </div>
            </div>

            <div class="form-row">
              <label class="form-group col-sm-2 col-form-label">Country</label>
              <div class="form-group col-sm-4">
                <model-select :class="status($v.contact.country)" :options="country" v-model="$v.contact.country.$model" placeholder="Country"></model-select>
              </div>

              <label class="form-group col-sm-2 col-form-label">Zip</label>
              <div class="form-group col-sm-4">
                <input :disabled="loading" :class="status($v.contact.zip)" v-model="$v.contact.zip.$model" class="form-control" type="text" >
                <div v-if="!$v.contact.zip.required" class="errortext">This field is required</div>
              </div>
            </div>
            
            <div class="form-row">
              <label class="form-group col-sm-2 col-form-label">Address</label>
              <div class="form-group col-sm-10">
                <input :disabled="loading" :class="status($v.contact.address)" v-model="$v.contact.address.$model" type="text" class="form-control">
                 <div v-if="!$v.contact.address.required" class="errortext">This field is required</div>
              </div>
            </div>

            <div class="form-row">
              <label class="form-group col-sm-2 col-form-label">City</label>
              <div class="form-group col-sm-4">
                <input :disabled="loading" :class="status($v.contact.city)" v-model="$v.contact.city.$model" type="text" class="form-control">
                <div v-if="!$v.contact.city.required" class="errortext">This field is required</div>
              </div>
            </div>

          </fieldset>

          <h3>Travelers Info</h3>

          <div>
              <fieldset v-for="(v, i) in $v.adultform.$each.$iter" :key="i" class="p-4 mb-3">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-2">
                      <select :class="status(v.title)" v-model="v.title.$model" class="form-control">
                        <option value="MR">Mr</option>
                        <option value="MRS">Mrs</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.firstName)" v-model="v.firstName.$model" class="form-control" type="text" >
                      <div v-if="!v.firstName.required" class="errortext">This field is required</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.lastName)" v-model="v.lastName.$model" class="form-control" type="text" >
                      <div v-if="!v.lastName.required" class="errortext">This field is required</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-4 birthDate">
                      <datepicker :disabled="loading" :input-class="status(v.birthDate)" :bootstrap-styling="true" v-model="v.birthDate.$model" :format="customFormatter" :calendar-button="true" calendar-button-icon="fa fa-calendar"></datepicker>
                    </div>
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-3">
                      <model-select :class="status(v.nationality)" :options="country" v-model="v.nationality.$model" placeholder="Nationality"></model-select>
                    </div>
                  </div>
              </fieldset>
          </div>

          <div v-if="child.count > 0">
            <h3>Travelers Info (Child)</h3>
              <fieldset v-for="(v, i) in $v.childform.$each.$iter" :key="i+11" class="p-4 mb-3">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-2">
                      <select :disabled="loading" :class="status(v.title)" v-model="v.title.$model" class="form-control">
                        <option value="MR">Mr</option>
                        <option value="MRS">Mrs</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.firstName)" v-model="v.firstName.$model" class="form-control" type="text" >
                      <div v-if="!v.firstName.required" class="errortext">This field is required</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.lastName)" v-model="v.lastName.$model" class="form-control" type="text" >
                      <div v-if="!v.lastName.required" class="errortext">This field is required</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-4 birthDate">
                      <datepicker :disabled="loading" :input-class="status(v.birthDate)" :bootstrap-styling="true" v-model="v.birthDate.$model" :format="customFormatter" :calendar-button="true" calendar-button-icon="fa fa-calendar"></datepicker>
                    </div>
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-3">
                      <model-select :class="status(v.nationality)" :options="country" v-model="v.nationality.$model" placeholder="Nationality"></model-select>
                    </div>
                  </div>
              </fieldset>
          </div>

          <div v-if="infant.count > 0">
            <h3>Travelers Info (Infant)</h3>
              <fieldset v-for="(v, i) in $v.infantform.$each.$iter" :key="i+22" class="p-4 mb-3">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-2">
                      <select :disabled="loading" :class="status(v.title)" v-model="v.title.$model" class="form-control">
                        <option value="MR">Mr</option>
                        <option value="MRS">Mrs</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.firstName)" v-model="v.firstName.$model" class="form-control" type="text" >
                      <div v-if="!v.firstName.required" class="errortext">This field is required</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-4">
                      <input :disabled="loading" :class="status(v.lastName)" v-model="v.lastName.$model" class="form-control" type="text" >
                      <div v-if="!v.lastName.required" class="errortext">This field is required</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-4 birthDate">
                      <datepicker :disabled="loading" :input-class="status(v.birthDate)" :bootstrap-styling="true" v-model="v.birthDate.$model" :format="customFormatter" :calendar-button="true" calendar-button-icon="fa fa-calendar"></datepicker>
                    </div>
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-3">
                      <model-select :class="status(v.nationality)" :options="country" v-model="v.nationality.$model" placeholder="Nationality"></model-select>
                    </div>
                  </div>
              </fieldset>
          </div>

          <div class="btn-group  float-right">
            <button class="btn bg-yellow text-light" @click.prevent="submit" type="button">Continue</button>
          </div>
      </div>

      <div class="col-md-3 px-3">
        <div class="p-3 boxshadow bdot bg-light" v-for="(segment, index) in flight.segments" :key="index+33">
          <div class="row">
            <div class="col-md-6">
              <img :src="'https://content.airhex.com/content/logos/airlines_'+ segment.carrier.code +'_100_40_r.png'" alt="">
            </div>
            <div class="col-md-6">
              <span>Flight No: <br> {{segment.carrier.code}} {{segment.carrier.flightNumber}}</span>
            </div>
            <div class="col-md-12">
              <hr>
              <div class="go text-center">
                <span>
                  {{segment.origin.date}} {{segment.origin.time}} <br>
                  <b>{{segment.origin.name}}</b>
                </span>
                <span>
                  <i style="color:#f49b24" class="fa fa-arrow-right"></i>
                </span>
                <span>
                  {{segment.destination.date}} {{segment.destination.time}} <br>
                  <b>{{segment.destination.name}}</b>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <!-- <div style="padding:0 15px" class="text-left">
                <small >
                  <i style="color:gray" class="fa fa-star"></i> {{segment.class.name}}&emsp; <br>
                  <i style="color:gray" class="fa fa-clock-o"></i> {{getJourneytime(segment.flightTime).hours}} {{getJourneytime(segment.flightTime).minutes}} <br>
                  <span v-if="segment.waitTime"><i style="color:gray" class="fa fa-clock-o"></i>Transit Wait Time: {{getJourneytime(segment.waitTime).hours}} {{getJourneytime(segment.waitTime).minutes}}</span>
                </small>
              </div> -->
            </div>
          </div>
        </div>
         
      </div>
    </div>
  </div>
</template>

<script>
import countries from '../services/country';
import Datepicker from "vuejs-datepicker";
import { ModelSelect } from "vue-search-select";
import { required, email, numeric, helpers } from 'vuelidate/lib/validators/';
import Helper from '../services/helper'

export default {
  data(){
    return {
      adults : 0,
      child: 0,
      infant: 0,
      flight: [],
      country: [],
      phonecode: [],
      contact : {
        title :  '',
        firstName : "",
        lastName : "",
        phoneprefix: '',
        phonenumber: '',
        email:  "",
        country:  "",
        zip:  "",
        address:  "",
        city:  "",
      },
      adultform : [],
      childform : [],
      infantform : [],
      loading: false
    }
  },
  validations() {

    let validation = {
      contact : {
        title :  { required },
        firstName : { required },
        lastName : { required },
        email:  { required, email },
        country:  { required },
        zip:  { required },
        address:  { required },
        city:  { required },
        phoneprefix:  { required },
        phonenumber:  { required, numeric },
      },
      adultform : {
        required,
        $each: {
          title :  { required },
          firstName : { required },
          lastName : { required },
          birthDate:  { required },
          nationality:  { required },
        }
      }
    }

    if(this.child.count > 0) {
      validation.childform = {
          required,
          $each: {
            title :  { required },
            firstName : { required },
            lastName : { required },
            birthDate:  { required },
            nationality:  { required },
          }
        }
    }

    if(this.infant.count > 0) {
      validation.infantform = {
          required,
          $each: {
            title :  { required },
            firstName : { required },
            lastName : { required },
            birthDate:  { required },
            nationality:  { required },
          }
        }
    }

    return validation;
  },
  watch: {
      adultform : {
        handler(after, before){
          after.map((val, index) => {
            this.adultform[index].birthDate = this.customFormatter(new Date(val.birthDate))
          })
        },
        deep: true
      },
      childform : {
        handler(after, before){
          after.map((val, index) => {
            this.childform[index].birthDate = this.customFormatter(new Date(val.birthDate))
          })
        },
        deep: true
      },
      infantform : {
        handler(after, before){
          after.map((val, index) => {
            this.infantform[index].birthDate = this.customFormatter(new Date(val.birthDate))
          })
        },
        deep: true
      },
      'contact.phoneprefix': {
        handler(after, before) {
          if(after) {
            $('.prefix .text')[0].innerHTML = after;
            
          }
        }
      }
  },
  created() {
    this.setContact();
  },
  mounted() {
    this.flight = JSON.parse(sessionStorage.getItem('vuex')).flight.selectedFlight;
    this.setPassengers()
    this.setForm()
    this.setCountry();
  },

  methods: {
    submit() {
      this.$v.$touch()

      if(this.$v.$invalid) {
        toastr['error']('Please correct the required fields')
        return
      }
      this.loading = true;
      let bookData = {
        'token' : this.token,
        'itemId' : this.flight.itemId,
        'contact' : this.contact,
        'adult' : this.adultform,
        'child' : this.childform,
        'infant' : this.infantform,
        'flight' : this.flight,
        'isLoggedin' : this.isLoggedin,
        'origin' : this.origin,
        'destination' : this.destination,
        'departure' : this.searchData.departureDate,
        'departureDateReturn' : this.searchData.departureDateReturn,
        'isRoundTrip' : this.isLoggedin.isRoundtrip,
      }

      axios.post('/api/flight/booking', bookData)
      .then(({data}) => {
        if(!data.success) {
          if(data.error == "AccessToken is expired. Call /gettoken request to get new.") {
            toastr['error']('Page expired! Please try again')
            setTimeout(() => {
              window.location.href = "/"
            },1000)
          }
          else if(data.error == "Supplier error") {
            toastr['error']('Something wrong! Please try again')
            setTimeout(() => {
              window.location.href = "/"
            },1000)
          }
          else{
            this.loading = false;
            toastr['error'](data.error)
          }
        return
        }
        //save bookData to session
        this.$store.dispatch('setFlightBookdata', {
          'contact' : bookData.contact,
          'adult' : bookData.adult,
          'child' : bookData.child,
          'infant' : bookData.infant,
        })
        toastr['success'](data.message);
        this.loading = false;
        window.location.href = `/${this.currentLang}/flight/payment`
        
      })
    },
    setPassengers() {
      this.count()
      this.setForm("adult");
      this.setForm("child");
      this.setForm("infant");
    },
    setContact() {
      if(this.isLoggedin) {
        axios.get('/api/account/bookinginfo')
        .then(({data}) => {
          if(data.success) {
            this.contact = {
              title :  data.profile.title,
              firstName : data.profile.first_name,
              lastName : data.profile.last_name,
              email:  data.profile.email,
              country:  data.profile.country_code,
              zip:  data.profile.zip,
              address:  data.profile.address,
              city:  data.profile.city,
              phoneprefix : data.profile.mobile_prefix,
              phonenumber : data.profile.mobile_phone
            }
           
          }
        })
      }
    },
    setForm(form) {

      if(form == "adult") {
        if(this.adults.count == 1) {
          this.adultform = [{
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  new Date('1993-03-27'),
              nationality:  "MY",
              type: 'ADT'
            }]
        }
        else if(this.adults.count > 1){
          for(var i = 0; i < this.adults.count; i++) {
            this.adultform.push({
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  new Date('1993-03-27'),
              nationality:  "MY",
              type: 'ADT'
            })
          }
        }
      }
      if(form == "child") {
        if(this.child.count == 1) {
          this.childform = [{
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  Date.now(),
              nationality:  "MY",
              type: 'CHD'
            }]
        }
        else if(this.child.count > 1){
          for(var i = 0; i < this.child.count; i++) {
            this.childform.push({
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  Date.now(),
              nationality:  "MY",
              type: 'CHD'
            })
          }
        }
      }
      
      if(form == "infant") {
        if(this.infant.count == 1) {
          this.infantform = [{
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  Date.now(),
              nationality:  "MY",
              type: 'INF'
            }]
        }
        else if(this.infant.count > 1){
          for(var i = 0; i < this.infant.count; i++) {
            this.infantform.push({
              title :  'MR',
              firstName : "",
              lastName : "",
              birthDate:  Date.now(),
              nationality:  "MY",
              type: 'INF'
            })
          }
        }
      }
      
    },
    setCountry() {
      countries.map((country) => {
        this.country.push({value: country.code, text: country.name})
        this.phonecode.push({value: country.phone_code, text: `(${country.phone_code}) ${country.name}`})
      });
    },
    count() {
      
      if(Array.isArray(this.flight.price.priceBreakDown)) {
        this.flight.price.priceBreakDown.map((price) => {
        if(price.PTC == 'ADT') {
           this.adults = {
            count : price.count,
            price : price.total
          };
        }
        else if(price.PTC == 'CHD') {
           this.child = {
            count : price.count,
            price : price.total
          };
        }
        else if(price.PTC == 'INF') {
          this.infant = {
            count : price.count,
            price : price.total
          };
        }
      })
      }
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    },
    customFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    getJourneytime(min) {
      return Helper.getJourneytime(min)
    },
  },
  computed: {
    token() {
       return this.$store.getters.getSearchFlightToken
    },
    origin() {
      return Helper.setOriginDestination(this.searchData).origin;
    },
    destination() {
      return Helper.setOriginDestination(this.searchData).destination;
    },
    searchData() {
      return this.$store.getters.getFlightSearchdata
    },
    currentLang() {
      return window.currentLang;
    },
    isLoggedin() {
      if(!_.isEmpty(this.$store.getters.getUserdata)) {
        return true
      }
      return false
    }
  },
  components: {
    ModelSelect,
    Datepicker
  }
};
</script>

<style scoped>

.table.booking td {
  border: none;
}
fieldset {
  border: solid 1px #e6e6e6;
}
.go{
  display:grid;
  grid-template-columns:1fr .3fr 1fr;
  font-size:10px;
}
.bdot{
  border-bottom:solid 1px #f49b24 ;
}

.bdot:last-child{
   border-bottom:dashed 5px transparent;
}

h3{
  border-bottom:solid 3px #006c8f;
  color:#006c8f;
  padding:10px 20px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  font-size:20px;
  margin:0 !important;
}

</style>
