<template>
  <table class="table">
    <tbody class=" segmentrow">
      <tr class="seg" :class="show ? 'show'+index : ''" v-for="(segment, index) in flights" :key="index">
        <td v-if="!show" style="width:156px" class="text-center flightimg">
          <span class="segment planeimg">
            <img :src="'https://content.airhex.com/content/logos/airlines_'+ segment.carrier.code +'_123_50_r.png'" alt=""> <br>
            <span class="">{{segment.carrier.code}} {{segment.carrier.flightNumber}}</span>
          </span>
        </td>
        <td v-if="!show" class="travelplan" colspan="3">
          <span class="segment">
            <span class="go">
              <span class="origin text-center">
                <span class="datetime">{{dateFormat(segment.origin.date)}} {{segment.origin.time}}</span> <br>
                <b>{{segment.origin.name}}</b> ( {{segment.origin.code}} )
              </span>
              <span class="text-center">
                <i style="vertical-align: -10px;" class="fa fa-arrow-right text-yellow"></i>
              </span>
              <span class="destination text-center">
                <span class="datetime">{{dateFormat(segment.destination.date)}} {{segment.destination.time}}</span> <br>
                <b>{{segment.destination.name}}</b> ( {{segment.destination.code}} )
              </span>
            </span>
            <hr>
            <div style="padding:0 15px" class="text-left">
              <small v-if="!segment.waitTime">
                <span><i style="color:gray" class="fa fa-star"></i> {{segment.class.name}}&emsp;</span>
                <span><i style="color:gray" class="fa fa-clock-o"></i> {{getJourneytime(segment.flightTime).hours}} {{getJourneytime(segment.flightTime).minutes}}&emsp;</span>
              </small>
              <small v-if="segment.waitTime">
                <span><i style="color:gray" class="fa fa-star"></i> {{segment.class.name}}&emsp;
                <i style="color:gray" class="fa fa-clock-o"></i> {{getJourneytime(segment.flightTime).hours}} {{getJourneytime(segment.flightTime).minutes}}&emsp; </span>
                <span><i style="color:gray" class="fa fa-plane"></i> Transit <b>{{segment.destination.name}}</b> &emsp; </span>
                <span><i style="color:gray" class="fa fa-clock-o"></i> Wait Time {{getJourneytime(segment.waitTime).hours}} {{getJourneytime(segment.waitTime).minutes}}</span>
              </small>
            </div>
          </span>
        </td>

        <td v-if="show" style="width:156px" class="text-center flightimg">
          <span class="segment planeimg">
            <img :src="'https://content.airhex.com/content/logos/airlines_'+ flights[0].carrier.code +'_123_50_r.png'" alt=""> <br>
          </span>
        </td>
        <td v-if="show" class="travelplan" colspan="3">
          <span class="segment">
            <span class="go">
              <span class="origin text-center">
                <span class="datetime">{{dateFormat(flights[0].origin.date)}} {{flights[0].origin.time}}</span> <br>
                <b>{{flights[0].origin.name}}</b> ( {{flights[0].origin.code}} )
              </span>
              <span class="text-center">
                <i style="vertical-align: -10px;" class="fa fa-arrow-right text-yellow"></i>
              </span>
              <span class="destination text-center">
                <span class="datetime">{{dateFormat(flights[middleIndex].destination.date)}} {{flights[middleIndex].destination.time}}</span> <br>
                <b>{{flights[middleIndex].destination.name}}</b> ( {{flights[middleIndex].destination.code}} )
              </span>
            </span>
            <hr>
            <div style="padding:0 15px" class="text-left">
              <small>
                <span><i style="color:gray" class="fa fa-star"></i> {{flights[0].class.name}}&emsp; </span>
                <span><i style="color:gray" class="fa fa-plane"></i> Transit <b>{{flights[0].destination.name}}</b></span>
              </small>
            </div>
          </span>
        </td>

        <td v-if="index == 0" class="text-center price p-3" colspan="1" rowspan="2">
          <div class="price-group">
            <div class="mb-1"><span class="h1">{{price.total}}</span> <small>{{price.currency}}</small></div>
            <div>
              <p>{{lang('flightsearch.results.includes')}}: <br> <b>{{lang('flightsearch.results.fare')}} + {{lang('flightsearch.results.taxes')}}</b></p>
            </div>
            <a v-if="showLess" class="link" @click="showInfo">{{show ? lang('flightsearch.results.more') : lang('flightsearch.results.less')}}</a>
            <div class="button-group">
              <button type="button" @click="prebook(itemId)" class="text-light btn bg-yellow">CHOOSE</button>
            </div>
          </div>
        </td>
      </tr>

      <tr class="seg">
        <td v-if="show && flights[2]  && flights[3]" style="width:156px" class="text-center flightimg">
          <span class="segment planeimg">
            <img :src="'https://content.airhex.com/content/logos/airlines_'+ flights[middleIndex + 1].carrier.code +'_123_50_r.png'" alt=""> <br>
          </span>
        </td>
        <td v-if="show && flights[2]  && flights[3]" class="travelplan" colspan="3">
          <span class="segment">
            <span class="go">
              <span class="origin text-center">
                <span class="datetime">{{dateFormat(flights[middleIndex + 1].origin.date)}} {{flights[middleIndex + 1].origin.time}}</span> <br>
                <b>{{flights[middleIndex + 1].origin.name}}</b> ( {{flights[middleIndex + 1].origin.code}} )
              </span>
              <span class="text-center">
                <i style="vertical-align: -10px;" class="fa fa-arrow-right text-yellow"></i>
              </span>
              <span class="destination text-center">
                <span class="datetime">{{dateFormat(flights[endIndex].destination.date)}} {{flights[endIndex].destination.time}}</span> <br>
                <b>{{flights[endIndex].destination.name}}</b> ( {{flights[endIndex].destination.code}} )
              </span>
            </span>
            <hr>
            <div style="padding:0 15px" class="text-left">
              <small>
                <span><i style="color:gray" class="fa fa-star"></i> {{flights[middleIndex + 1].class.name}}&emsp;</span>
                <span><i style="color:gray" class="fa fa-plane"></i> Transit <b>{{flights[middleIndex + 1].destination.name}}</b></span>
              </small>
            </div>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
</template>

<script>
import Helper from "../services/helper";

export default {
  props: ["flights", "price", "itemId", "selectedFlight"],
  data() {
    return {
      show: true,
      showLess: false,
      origin: "",
      destination: ""
    };
  },
  mounted() {
    this.setShow();
    this.setOriginDestination();
  },
  methods: {
    dateFormat(date) {
      return moment(date).format("ddd Do MMM");
    },
    getJourneytime(min) {
      return Helper.getJourneytime(min)
    },
    showInfo() {
      this.show = !this.show;
    },
    setShow() {
      if (this.flights.length > 2) {
        this.show = true;
        this.showLess = true;
      } else {
        this.show = false;
      }
    },
    setOriginDestination(){
      this.origin = this.lang('iata.'+this.searchData.origin).split(",")[0] + ` ( ${this.searchData.origin} )`
      this.destination = this.lang('iata.'+this.searchData.destination).split(",")[0] + ` ( ${this.searchData.destination} )`
    },
    lang(key) {
      return window.Lang.get(key);
    },
    prebook(itemId) {
      this.$router.replace({
        path: "/" + currentLang + "/flight/prebooking"
      });
      this.$store.dispatch("setSelectedFlightId", itemId);
      this.$store.dispatch("setSelectedFlight", this.selectedFlight);
    },
  },
  computed: {
    currentLang() {
      return window.currentLang;
    },
    searchData() {
      return this.$store.getters.getFlightSearchdata
    },
    middleIndex() {
      if(this.flights.length % 2 === 0) {
        return (this.flights.length / 2) - 1
      }
      else {
        return this.flights.length - 1
      }
    },
    endIndex() {
      return this.flights.length - 1
    }
  }
};
</script>

<style scoped>
.go {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  font-size: 12px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  color: #006c8f !important;
}

.flightrow:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table hr {
  margin: 5px 0;
}

.travelplan {
  border-left: solid 1px #fff;
  border-right: dashed 1.5px #f49b24;
  padding: 10px 0 !important;
}

.seg .flightimg {
  background: #f5f5f5;
}

tr.seg:nth-child(1) td {
  border-top: none !important;
}

.seg > td {
  border-top: dashed 1.5px #f49b24;
}
.seg > td:nth-child(1) {
  border-top: dashed 1.5px #d6d6d6;
}

.price {
  width: 200px !important;
}

.price-group {
  margin-top: 5%;
}
</style>
