<template>
  <div>
    <div class="container" style="min-height:75vh">
      <nav class="mt-3 bg-none" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 bg-none">
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/search'">Flight Search</router-link></li>
          <li class="breadcrumb-item text-blue">Flight Prebooking</li>
          <li class="breadcrumb-item text-blue" >Flight Booking</li>
          <li class="breadcrumb-item active" aria-current="page">Flight Payment</li>
        </ol>
      </nav>
      <div class="bg-light p-3 boxshadow">
        <h3>Contact Details</h3>
        <table class="table">
          <tbody>
            <tr>
              <td class="grey">Name:</td>
              <td>{{contact.name}}</td>
              <td class="grey">Phone:</td>
              <td>{{contact.phone}}</td>
              <td class="grey">Email:</td>
              <td>{{contact.email}}</td>
            </tr>
            <tr>
              <td class="grey">Country:</td>
              <td>{{contact.country}}</td>
              <td class="grey">Address:</td>
              <td>{{contact.address}}, {{contact.zip}}</td>
              <td class="grey">City:</td>
              <td >{{contact.city}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bg-light p-3 my-3 boxshadow">
        <h3>Booking Details</h3>
        <booking-detail :departTrip="departTrip" :returnTrip="returnTrip" :isRoundtrip="isRoundtrip" :wholeTrip="selectedData.segments"></booking-detail>
      </div>

      <payment-detail :passengers="passengers" :flightPrice="selectedData.price.total" :email="contact.email"></payment-detail>
    </div>
  </div>
</template>

<script>
import BookingDetail from './components/BookingDetail';
import PaymentDetail from './components/PaymentDetail';

export default {
  data(){
    return {
      contact: {},
      passengers: {},
      departTrip: [],
      returnTrip: [],
    }
  },
  created() {
    this.setContactData()
    this.setPassengerData()
    this.setTripData()
  },
  methods:{
    setContactData(){
      let { title,address,firstName,lastName,phoneprefix,phonenumber,email,country,zip,city } = this.$store.getters.getFlightBookdata.contact

      this.contact = {
        address,
        name : `${title} ${firstName} ${lastName}`,
        email,
        phone : phoneprefix + phonenumber,
        country,
        zip,
        city
      }
    },
    setPassengerData(){
      let { adult,child,infant } = this.$store.getters.getFlightPassengers

      this.passengers = {
        adult,
        child,
        infant
      }
    },
    setTripData(){
      let {segments, segments: {length}} = this.selectedData
      let i = 0

      if(this.isRoundtrip && length % 2 === 0){
          while(i < length) {
            if(i < (length/2)) {
              this.departTrip.push(segments[i])
            }
            else{
              this.returnTrip.push(segments[i])
            }
            i++
          }
      }
      else if(!this.isRoundtrip) {
        while(i < length) {
          this.departTrip.push(segments[i])
          i++
        }
      }
    }

  },
  components:{
    BookingDetail,
    PaymentDetail,
  },
  computed:{
    currentLang() {
      return window.currentLang;
    },
    selectedData() {
      return this.$store.getters.getSelectedFlight;
    },
    isRoundtrip() {
      return this.$store.getters.getFlightSearchdata.isRoundtrip;
    }
  }
}
</script>

<style scoped>
h3{
  border-bottom:solid 3px #006c8f;
  color:#006c8f;
  padding:10px 20px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  font-size:20px;
  margin:0 !important;
}

.gateway{
  padding:10px;
  border-radius:5px;
}

.btn-yippi{
  background:none;
  border:solid 1px #25ABE1;
  color:#25ABE1;
}

.btn-yippi span{
  vertical-align:-2px;
  padding-right:5px;
}

td{
  border:none;
}

.grey{
  border:dashed .5px #f49b24;
  font-weight:bold;
}

.trip{
  padding:20px 0;
}

</style>
