<template>
  <div>
    <div class="container" style="min-height:75vh">
      <nav class="mt-3 bg-none" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 bg-none">
          <li class="breadcrumb-item"><router-link class="text-blue" :to="'/' + currentLang + '/flight/search'">Flight Search</router-link></li>
          <li class="breadcrumb-item active" aria-current="page">Flight Prebooking</li>
        </ol>
      </nav>
      <div v-show="loading" class="text-center p-3">
        <img src="../../img/svg/progress.svg" width="100px" alt="">
        <p class="fade" style="color:gray">Selecting Flight...</p>
      </div>
      <div class="alert alert-warning text-center m-3" v-if="error != ''">{{error}} <router-link :to="`/${currentLang}/flight/search`">Back</router-link></div>
      <div   v-if="Object.keys(flight).length !== 0" class="">
        <nav  class="mb-4 mt-2 p-3 bborder bg-light">
          <h5><img src="../../img/svg/takeoff.svg" width="30px" alt="togago-prebook"> {{origin}} <i style="color:#f49b24" class="fa fa-arrow-right"></i> {{destination}}</h5>
          <small >{{departureDate}}&emsp;/&emsp;{{arrivalDate}} &emsp;
            <span v-if="flight.segments.length > 2">
              <i style="color:gray" class="fa fa-plane"></i> {{countTransit()}} Transit
            </span>
          </small>
        </nav>
        <div class="row">
          <div class="col-md-9">
            <main class="flightdetails">
               <table style="border:solid .5px transparent" class="table bg-light mb-0">
                <tbody>
                  <tr v-for="(segment,index) in flight.segments" :key="index">
                    <td style="width:156px" class="text-center flightimg">
                      <img :src="'https://content.airhex.com/content/logos/airlines_'+ segment.carrier.code +'_123_50_r.png'" alt=""> <br>
                      <span>{{segment.carrier.code}} {{segment.carrier.flightNumber}}</span>
                    </td>
                    <td class="details" colspan="3">
                      <div class="go text-center">
                        <span>
                          {{segment.origin.date}} {{segment.origin.time}} <br>
                          <b>{{segment.origin.name}}</b>
                        </span>
                        <span>
                          <i style="color:#f49b24" class="fa fa-arrow-right"></i>
                        </span>
                        <span>
                          {{segment.destination.date}} {{segment.destination.time}} <br>
                          <b>{{segment.destination.name}}</b>
                        </span>
                      </div>
                      <hr class="m-1">
                      <div style="padding:0 15px" class="text-left">
                        <small >
                          <i style="color:gray" class="fa fa-star"></i> {{segment.class.name}}&emsp; <br>
                          <i style="color:gray" class="fa fa-clock-o"></i> {{getJourneytime(segment.flightTime).hours}} {{getJourneytime(segment.flightTime).minutes}} <br>
                          <span v-if="segment.waitTime"><i style="color:gray" class="fa fa-clock-o"></i>Transit Wait Time: {{getJourneytime(segment.waitTime).hours}} {{getJourneytime(segment.waitTime).minutes}}</span>
                        </small>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </main>
          </div>
          <div class="col-md-3">
            <div class="bg-light bborder">
              <div class="p-3 text-left">
                <span v-if="child.count == 0 && infant.count == 0 && searchData.children.length == 0">Adults x {{adults.count}} = {{adults.price}} {{flight.price.currency}}</span>
                <span v-if="child.count != 0 && infant.count != 0">Adults x {{adults.count}} = {{adults.price}} {{flight.price.currency}}</span>
                <span v-if="child.count != 0"><br> Child x {{child.count}} = {{child.price}} {{flight.price.currency}}<br></span> 
                <span v-if="infant.count != 0">Infant x {{infant.count}} = {{infant.price}} {{flight.price.currency}}<br></span> 
              </div>
              <hr class="m-1">
              <div class="p-3"><b>Price you pay: </b> {{total}} {{flight.price.currency}}</div>
            </div>
            <div class="button-group my-4">
              <button type="button" :disabled="selecting" @click="submit" class="btn btn-block bg-blue text-light">
                <i v-show="selecting" style="padding: 5px 0;" class="fa fa-spinner fa-spin"></i> <span v-show="!selecting">{{loggedIn ? "Continue" : "Continue as Guest"}}</span>
              </button>
              <div v-show="!loggedIn" class="text-center mt-2">
                <button type="button" :disabled="selecting" class="btn btn-block bg-yellow text-light">
                <span @click="login">Returning Customer? Sign in</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Helper from '../services/helper'

export default {
  data() {
    return {
      flight: {},
      origin: "",
      destination: "",
      departureDate: "",
      arrivalDate: "",
      adults: {
        count:0,
        price:0
      },
      child: {
        count:0,
        price:0
      },
      infant: {
        count:0,
        price:0
      },
      total: 0,
      error: "",
      loading:false,
      selecting:false,
      loginbtn: false
    };
  },
  mounted() {
    setTimeout(() => {
      this.loading = true;
    },500)
  },
  watch: {
    loading(after,before){
      if(after){
        this.getSelectedFlight()
      }
    },
    loginbtn(after,before){
      if(after){
        $('.dropdown-toggle').dropdown('toggle')
      }
    }
  },
  methods: {
    getSelectedFlight() {
      this.loading = true
      this.flight = JSON.parse(sessionStorage.getItem('vuex')).flight.selectedFlight;
      this.loading = false
      this.$store.dispatch('setFlightPrebook', this.flight)
      this.setOriginDestination();
      this.setChildInfant(this.flight.price);
    },
    submit(){
      this.selecting = true;
      axios.post('/api/flight/getselected',{
        "token" : this.token,
        "itemId" : this.itemId
      })
      .then(({data}) => {
        if(data.success) {
          this.selecting = false;
          this.$router.replace({path: '/'+currentLang+'/flight/booking'});
        }
        else{
          toastr['error']('Error when prebook flights, please try again')
          this.selecting = true;
          this.$router.replace({path: '/'+currentLang+'/flight/search'});
          return;
        }
      })
    },
    setOriginDestination() {
      this.origin =`${this.lang('iata.' + this.searchData.origin).split(',')[0]} ( ${this.searchData.origin} )` 
      this.departureDate = moment(this.searchData.departureDate).format('ddd, DD MM YYYY')
      this.destination = `${this.lang('iata.' + this.searchData.destination).split(',')[0]}  ( ${this.searchData.destination} )`
      this.arrivalDate = moment(this.searchData.departureDateReturn).format('ddd, DD MM YYYY')
    },
    setChildInfant(prices){
        this.total = prices.total;
        prices.priceBreakDown.map((price) => {
        if(price.PTC == 'ADT') {
           this.adults = {
            count : price.count,
            price : price.total * price.count
          };
        }
        else if(price.PTC == 'CHD') {
           this.child = {
            count : price.count,
            price : price.total * price.count
          };
        }
        else if(price.PTC == 'INF') {
          this.infant = {
            count : price.count,
            price : price.total * price.count
          };
        }
      })
      this.$store.dispatch('setFlightPassengers', {
        adult : this.adults,
        child : this.child,
        infant : this.infant,
      })
    },
    getJourneytime(min) {
      return Helper.getJourneytime(min)
    },
    countTransit() {
      let count = 0;
      let key = '';
      let destination = this.lang('iata.' + this.searchData.destination).split(',')[0];
      let origin = this.lang('iata.' + this.searchData.origin).split(',')[0]
      this.flight.segments.map((transit) => {
        if(transit.destination.name != destination && transit.destination.name != origin) {
          if(key != transit.destination.name){
            key = transit.destination.name
            count++
          }
        }
      })
      return count;
    },
    lang(key) {
      return window.Lang.get(key);
    },
    login() {
      this.loginbtn = !this.loginbtn;
    },
    formatDate(date) {
      return moment(new Date(date)).format("dddd, MMMM Do YYYY")
    },
  },
  computed: {
    itemId() {
      return JSON.parse(sessionStorage.getItem('vuex')).flight.selecteditemId;
    },
    token() {
      return JSON.parse(sessionStorage.getItem('vuex')).flight.token;
    },
    searchData() {
      return JSON.parse(sessionStorage.getItem('vuex')).flight.searchdata;
    },
    currentLang() {
      return window.currentLang
    },
    loggedIn() {
      if(!_.isEmpty(this.$store.getters.getUserdata)) {
        return true
      }
      return false
    },
    middleIndex() {
      if(this.flights.segments.length % 2 === 0) {
        return (this.flights.segments.length / 2) - 1
      }
      else {
        return this.flights.segments.length - 1
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/_variables.scss';

.table{
  font-size:12px;
}
.go{
  display:grid;
  grid-template-columns:1fr .3fr 1fr;
}
.details{
  border:dashed 1px #f49b24 ;
}
.flightimg{
  border:dashed 1px #006c8f ;
  background: #f5f5f5;
}

.flightdetails{
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    overflow: hidden;
    border: solid 0.5px #dfdfdf !important;
}
</style>
