<template>
  <div>
    <div class="container app">
        <section class="col-md-12 p-3 my-2">
          <div class="float-right">
            <button v-show="showBtn" @click="toggleSearch" class="btn bg-blue text-light">Change Search</button>
            <button v-show="showBtn && Array.isArray(results)" ref="filterBtn"  @click="toggleFilter" class="btn filterbtn bg-yellow text-light"><i class="fa fa-filter"></i></button>
          </div>
          <div class="searchheader">
            <span class="h4  text-blue">{{origin}} <span class="text-yellow">{{searchData.isRoundtrip ? '⇆' : '→'}}</span> {{destination}}</span> <br>
            <span>{{this.formatDate(searchData.departureDate)}} {{searchData.departureDateReturn ? ' - ' + this.formatDate(searchData.departureDateReturn) : ''}}</span> | 
            <span v-if="searchData.count.adult">{{searchData.count.adult}} {{lang('flightsearch.passenger.adult',+searchData.count.adult)}}</span>
            <span v-if="searchData.count.child">, {{searchData.count.child}} {{lang('flightsearch.passenger.child',+searchData.count.child)}}</span>
            <span v-if="searchData.count.infant">, {{searchData.count.infant}} {{lang('flightsearch.passenger.infant',+searchData.count.infant)}}</span> |
            <span>{{lang('flightsearch.class.' + searchData.class)}}</span>
            <hr class="mb-0">
          </div>
          <!-- Search -->
          <result-search v-on:new-search="newSearch($event)" :show="showSearch"></result-search>
          <transition name="slide-toggle" mode="out-in">
             <filter-topbar  v-if="Array.isArray(results) && !loading && showfilter" ref="topbarFilter" v-on:filter-loading="filterLoading($event)" v-on:filter-search="filterSearch($event)" :filterdata="filters"></filter-topbar>
          </transition>
          <paginate ref="paginator" v-if="Array.isArray(results)"
            name="results"
            :list="results"
            :per="5"
          >
          <hr class="m-0">
          <div v-show="loading" class="text-center p-3">
              <img src="../../img/svg/togagoload.svg" width="100px" alt="">
              <p class="fade" style="color:gray">Searching Flights...</p>
          </div>
          <main v-if="Array.isArray(results) && results.length != 0 && !loading" class="row" :class="refine ? 'filterloading' : '' ">
            <section style="padding:30px 20px 0" class="col-md-12">
              <div v-for="(flight) in paginated('results')" :key="flight.itemId" class="flightrow mb-4">
                <flight-segments :flights="flight.segments" :price="flight.price" :itemId="flight.itemId" :selectedFlight="flight"></flight-segments>
              </div>
            </section>
          </main>
          </paginate>
          <div class="py-3" v-if="!Array.isArray(results) && !loading">
              <div class="alert alert-warning">{{results}} <span class="float-right"><a href="#" @click.prevent="reload">Reset</a></span></div> 
          </div>
      <div style="background-color:transparent" v-if="Array.isArray(results) && results.length != 0 && !loading" class="nav px-3">
          <paginate-links for="results" :limit="2" :show-step-links="true" 
          :step-links="{
            next: 'Next',
            prev: 'Prev'
          }"
          @change="pageChange"
          :hide-single-page="true"
          :classes="{
            'ul': ['pagination','ml-auto', 'paginate-links'],
            'li': 'page-item',
            'li.number': refine ? ['page-item','disabled'] : 'page-item',
            'li.ellipses': refine ? ['page-item','disabled'] : 'page-item',
            'a': 'page-link',
            '.next > a': ['page-link','next-link'],
            '.prev > a': ['prev-link', 'page-link'] // multiple classes
          }">
          </paginate-links>
      </div>
      </section>
    </div>
  </div>
</template>

<script>
import FilterTopbar from "./components/FilterTopbar";
import FlightSegments from "./FlightSegments";
import ResultSearch from "../flight/components/ResultSearch";
import Helper from "../services/helper";

export default {
  data() {
    return {
      results: [],
      loading: false,
      filters: [],
      showSearch: false,
      showBtn: false,
      showfilter: false,
      paginate: ['results'],
      refine:false,
      totalpages: 0,
      currentpage: 0,
    };
  },
  mounted() {
    setTimeout(() => {
      this.search();
    },800)
  },
  onIdle() {
    alert('Session Timeout');
    this.$store.dispatch('reset')
    this.$router.replace({
        path: "/" + currentLang
      });
  },
  methods: {
    search() {
      let searchData;
      this.loading = true;
        if(this.token) {
          searchData = {...this.searchData, token: this.token}
        }
        else{
          searchData = this.searchData
        }
        axios.post("/api/flight/search", searchData ).then(({ data }) => {
        if(data.success){
          this.results = data.flightdata;
          this.filters = data.filterdata;
          this.totalpages = data.totalpages;
          this.currentpage = data.currentpage;
          this.$store.dispatch("setSearchFlightToken", data.token);
          this.loading = false;
          this.showBtn = true
        }
        else {
          if(data = "AccessToken is expired. Call /gettoken request to get new."){
            this.$store.dispatch("resetSearchFlightToken")
            this.search();
          }
          else if(data = "No results"){
            this.results = "No results"
          }
          else{
            this.results = data
          }
          this.loading = false;
        }

        // this.showfilter = true
        // this.loading = false;
        
      });
    },
    lang(key, count = 0) {
      if(count != 0){
        return Lang.choice(key, count)
      }
      return Lang.get(key);
    },
    formatDate(date) {
      return moment(new Date(date)).format("dddd, MMMM Do YYYY")
    },
    toggleSearch() {
      this.queryString = ""
      this.showSearch = !this.showSearch;
    },
    toggleFilter() {
      this.showfilter = !this.showfilter;
    },
    newSearch(e) {
      this.loading = true;
      this.showSearch = !this.showSearch;
      this.searchData = e;
    },
    filterLoading(e) {
      this.refine = e;
    },
    filterSearch(e) {
      this.results = e
    },
    pageChange(e){
      let lastpage = this.$refs.paginator.lastPage
      if(e == lastpage){
      let page = +this.currentpage + 1;
        if(this.currentpage == this.totalpages) {
          this.refine = false
          return
        }
        else{
          this.refine = true
          axios.post('/api/flight/filter', {
            token: this.token,
            queryString: "page=" + page
          }).then(({data}) => {
            if(data.success){
              this.currentpage = data.currentpage
              this.results.push(...data.flightdata)
              this.refine = false
            }
            else{
              this.refine = false
              return
            }
          })
        }
      }
    },
    reload(){
      this.search();
    }
  },
  computed: {
    origin() {
      return Helper.setOriginDestination(this.searchData).origin;
    },
    destination() {
      return Helper.setOriginDestination(this.searchData).destination;
    },
    isRoundtrip() {
      return this.$route.query.isRoundtrip;
    },
    searchData: {
      get: function() {
        return this.$store.getters.getFlightSearchdata
      },
      set: function(newValue) {
        this.$store.dispatch('setFlightSearchdata', newValue);
        this.search();
      }
    },
    token(){
      return this.$store.getters.getSearchFlightToken
    },
    currentLang() {
      return window.currentLang
    },
  },
  components: {
    FilterTopbar,
    FlightSegments,
    ResultSearch,
  }
};
</script>

<style scoped>
.table {
  margin: 0;
  background: #fff;
}

ul{
  padding:0;
}

.flightrow {
  border: solid 0.5px #006c8f !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  overflow: hidden;
}

.slide-toggle-enter-active,
.slide-toggle-leave-active {
     transition: all .3s;
}
.slide-toggle-enter-active {
     overflow: visible;
     max-height: 800px;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
   overflow: hidden;
    max-height: 0;
}
.slide-toggle-leave {
    max-height:  800px;
} 

.paginate-links.results {
  user-select: none;
}
.paginate-links.results a {
  cursor: pointer;
}
.paginate-links.results li.active a {
  font-weight: bold;
}
.paginate-links.results li.next:before {
  content: ' | ';
  margin-right: 13px;
  color: #ddd;
}
.paginate-links.results li.disabled a {
  color: #ccc;
  cursor: no-drop;
}

.filterbtn{
  padding-top:10px;
  padding-bottom:10px;
      padding-left: 13px;
    padding-right: 13px;
}

</style>
