<template>
  <div>
    <div class="row p-5">
      <div class="card col-md-6 m-auto">
        <div class="card-body">
          <h5>{{lang('passwords.forgotpw')}}</h5>
          <hr>
          <form @submit.prevent="submit">
            <transition name="fade">
              <div>
                <div v-if="!next" class="form-group">
                  <label>{{lang('menu.login.email')}}</label>
                  <input :class="status($v.email)" :readonly="loading" type="email" v-model="$v.email.$model" class="form-control">
                  <div class="errortext" v-if="!$v.email.required">{{lang('menu.error.emailrequired')}}</div>
                  <div class="errortext" v-if="!$v.email.email">{{lang('passwords.error.correctemail')}}</div>
                </div>
                <div v-if="next" class="password-form">
                  <div class="form-group">
                    <label>{{lang('menu.login.password')}}</label>
                    <input :class="status($v.password)" :readonly="loading" type="password" v-model="$v.password.$model" class="form-control">
                    <div class="errortext" v-if="!$v.password.required">{{lang('menu.error.pwrequired')}}</div>
                    <div class="errortext" v-if="!$v.password.minLength">{{lang('passwords.error.pwlength')}}</div>
                  </div>
                  <div class="form-group">
                    <label>{{lang('passwords.repeatpw')}}</label>
                    <input :class="status($v.repeatPassword)" :readonly="loading" type="password" v-model="$v.repeatPassword.$model" class="form-control">
                    <div class="errortext" v-if="!$v.repeatPassword.required">{{lang('passwords.error.repeatpw')}}</div>
                    <div class="errortext" v-if="!$v.repeatPassword.sameAsPassword">{{lang('passwords.error.pwnotmatch')}}</div>
                  </div>
                </div>
                <div class="button-group text-right">
                  <button v-if="!next" class="btn bg-blue text-light" @click="toggle" type="button">{{lang('passwords.next')}}</button>
                  <button v-if="next" :disabled="loading" class="btn bg-blue text-light" @click="toggle" type="button">{{lang('passwords.back')}}</button>
                  <button v-if="next" :disabled="loading" class="btn bg-yellow text-light" type="submit">{{lang('passwords.submit')}}</button>
                </div>
              </div>
            </transition>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, sameAs, email, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      email: "",
      password: "",
      repeatPassword: "",
      loading: false,
      next: false
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      required,
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    lang(key) {
      return window.lang.get(key);
    },
    submit() {
      this.$v.$touch();
      this.loading = true;

      if (this.$v.$invalid) {
        toastr["error"](this.lang('menu.error.allrequired'));
        this.loading = false;
        return;
      }

      axios
        .post("/api/auth/forgot", {
          email: this.email,
          newpassword: this.repeatPassword
        })
        .then(({ data }) => {
          if (!data.success) {
            data.error.email.map(err => {
              toastr["error"](err);
            });
            data.error.password.map(err => {
              toastr["error"](err);
            });
            this.loading = false;
            return;
          }

          toastr["success"](data.message);

          setTimeout(() => {
            window.location.href = "/";
          }, 3000);
        });
    },
    toggle() {
      this.next = !this.next;
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    }
  },
};
</script>

<style>
</style>
