<template>
  <div>
    <form @submit.prevent="submit" class="text-center px-3 pt-3">
    <div class="form-group">
      <input :class="status($v.email)" v-model="$v.email.$model" type="email" id="defaultLoginFormEmail" class="form-control" :placeholder="lang('menu.login.email')">
      <div class="errortext text-left" v-if="!$v.email.required">{{lang('menu.error.emailrequired')}}</div>
      <div class="errortext text-left" v-if="!$v.email.email">{{lang('menu.error.emailvalid')}}</div>
    </div>
    <div class="form-group">
      <input :class="status($v.password)" v-model="$v.password.$model" type="password" id="defaultLoginFormPassword" class="form-control" :placeholder="lang('menu.login.password')">
      <div class="errortext text-left" v-if="!$v.password.required">{{lang('menu.error.pwrequired')}}</div>
      <div class="errortext text-left" v-if="!$v.password.minLength">{{lang('menu.error.pwminlength')}}</div>
    </div>
    <div class="row" style="font-size:14px;">
      <div class="col-sm">
        <!-- Remember me -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
          <label class="custom-control-label" for="defaultLoginFormRemember">{{lang('menu.login.rememberme')}}</label>
        </div>
      </div>
      <div  class="col-sm">
          <router-link :to="'/' + currentLang + '/auth/forgot'" replace>{{lang('menu.login.forgotpw')}}</router-link>
      </div>
    </div>
    <!-- Sign in button -->
    <button class="btn bg-yellow btn-block text-light mt-3 mb-1" type="submit">{{lang('menu.login.signin')}}</button>
        <!-- Register -->
    <div style="font-size:13px;">{{lang('menu.login.notmember')}} 

      <router-link :to="'/' + currentLang + '/auth/register'"><span class="text-yippi">{{lang('menu.login.register')}}</span></router-link>
    </div>
      <hr class="m-1 hr-text" data-content="or">
    <button class="btn bg-yippi btn-block text-light mb-4" @click="showModal" type="button"><img src="http://yippiweb.com/public/files/b6d46f1cd1dce6b64c0c5146e0d17b1e2f84486d447e33a18f9758be4f4fb234.png" width="20px" alt="">&nbsp; {{lang('menu.login.signinyippi')}}</button>
  </form>

  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators/";

export default {
  data() {
    return {
      email: "",
      password: "",
      loading: false,
      showmodal: false
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },
  methods: {
    lang(key) {
      return window.lang.get(key);
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    },
    showModal() {
      this.$emit('showModal', !this.showmodal)
    },
    submit() {
      this.loading = true;
      this.$v.$touch();

      if (this.$v.$invalid) {
        toastr["error"](this.lang('menu.error.allrequired'));
        this.loading = false;
        return;
      }

      axios
        .post("/api/auth/login", {
          email: this.email,
          password: this.password
        })
        .then(({ data }) => {
          if (!data.success) {
            toastr["error"](data.error);
            this.loading = false;
            return;
          }
          localStorage.setItem("auth_token", data.auth.access_token);
          this.$store.dispatch("setUserdata", data.auth);
          axios.defaults.headers.common["Authorization"] =
            "Bearer " + localStorage.getItem("auth_token");
          toastr["success"]("Successfully Login");
          location.href = window.location.href;
        });
    }
  },
  computed: {
    currentLang() {
      return window.currentLang;
    }
  }
};
</script>

<style lang="scss">
@import "~@/_variables.scss";

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, $primary, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: $primary;
    background-color: #fcfcfa;
  }

}
</style>
