<template>
  <div>
    <div>
      <div class="row subheader-container">
        <div class="card subheader bg-blue p-5">
          <span class="text-light">
            <h2 class="h3">Become a TogaGo member and enjoy exclusive benefits!</h2>
          Register now quickly and securely to enjoy the benefits below
          </span>
        </div>
      </div>
      <div class="row p-5">
        <div class="card col-md-5 col-lg-4 col-sm-12 ml-auto">
          <div class="card-body">
            <h1 class="h5 mb-3">Join us as a TogaGo member!</h1>
            <form v-if="!showresend" @submit.prevent="submit">
              <div class="form-group">
                <input :readonly="loading" type="email" :placeholder="lang('menu.login.email')" v-model="email" class="form-control">
              </div>
              <div class="button-group text-right">
                <button :disabled="loading" class="btn bg-yellow text-light" type="submit">{{lang('menu.login.register')}}</button>
              </div>
              <div>
                <hr class="mb-1">
                <small>By registering, I agree with Terms & Conditions and Privacy Policies of TogaGo.</small>
              </div>
            </form>
            <div class="text-center" v-if="showresend">
              {{lang('menu.login.noverifycode')}} <a href="#" @click="resendVerification">{{lang('menu.login.resend')}}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppNavigation from "../components/Navigation";
import AppFooter from "../layouts/Footer";
export default {
  data() {
    return {
      email: "",
      loading: false,
      showresend: false,
      resend: false
    };
  },
  methods: {
    lang(key) {
      return window.lang.get(key);
    },
    submit() {
      this.loading = true;
      let params;

      if (!this.resend) {
        params = {
          email: this.email
        };
      } else {
        params = {
          resend: true,
          email: this.email
        };
      }

      axios.post("/api/auth/register", params).then(({ data }) => {
        if (!data.success) {
          data.error.email.map(err => {
            toastr["error"](err);
          });
          this.loading = false;
          return;
        }

        toastr["success"](data.message);
        this.showresend = true;
      });
    },
    resendVerification() {
      this.resend = true;
      this.submit();
    },
  },
  components: {
    AppNavigation,
    AppFooter
  }
};
</script>

<style>


</style>
