<template>
  <div>
    <div class="bg-gray p-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto card">
            <div v-if="code && email" class="card-body">
              <p class="h2 text-center">Verify your account</p>
              <hr>
              <p class="text-center">{{verifymessage}} </p>
              <div class="small text-center">You will be redirected to home</div>
            </div>
            <div v-if="!code && !email" class="card-body">
              <p class="h2 text-center">You might be lost</p>
              <hr>
              <div class="small text-center">You will be redirected to home</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      verifymessage: ""
    };
  },
  mounted() {
    this.verifyUser();
    if (!this.code && !this.email) {
      setTimeout(() => {
        window.location.href = "/";
      }, 3000);
    }
  },
  methods: {
    verifyUser() {
      axios
        .get("/api/auth/verify", {
          params: {
            code: this.code,
            email: this.email
          }
        })
        .then(({ data }) => {
          console.log(data);
          if (!data.success) {
            data.error.email.map(err => {
              toastr["error"](err);
            });
            return;
          }
          this.verifymessage = data.message;
          setTimeout(() => {
            window.location.href = "/";
          }, 3000);
        });
    }
  },
  computed: {
    code() {
      return this.$route.query.code;
    },
    email() {
      return this.$route.query.email;
    }
  }
};
</script>

<style>
.bg-gray {
  background-color: #f1f1f1;
}
</style>
