<template>
  <h1 id="abc">{{lang('hotelsearch.guest')}}</h1>
</template>

<script>
export default {
  data() {
    return {
      verifymessage: ""
    };
  },
  mounted() {
    this.verifyUser();
  },
  methods: {
    verifyUser() {
      axios
        .get("/api/hotel/hotelList", {
          params: {}
        })
        .then(({ data }) => {
          console.log("This is the data:\n " + data);
        });
    },
    lang(key, number = null) {
      if (number == null) {
        return window.lang.get(key);
      }
      return window.lang.choice(key, number);
    }
  },
  computed: {
    currentLang() {
      return window.currentLang;
    }
  }
};
</script>

<style>
</style>
