<template>
  <div class="section md">
    <div class="container">
      <div v-show="sloading" class="row text-center p-3">
        <div class="col-12">
          <img src="../../img/svg/progress.svg" width="100px" alt>
          <p class="fade" style="color:gray">Searching...</p>
        </div>
      </div>
      <div v-show="rloading" class="row">
        <div class="col-12">
          <p class="fade">Searching still in progress...</p>
          <progress-bar size="huge" :val="increasing_pct" :text="progressText"></progress-bar>
        </div>
      </div>
      <div v-show="toreset" class="row text-center p-3">
        <div class="col-12">
          <button @submit="reset">Reload</button>
        </div>
      </div>
      <div v-show="!sloading" class="row">
        <div class="col-12 text-center">
          <h2>
            {{hotelItems.length}} hotels in
            <span
              class="text-danger"
            >{{this.$store.getters.getHotelSearchdata.cityName}}</span>
            on {{formatDate(this.$store.getters.getHotelSearchdata.checkIn)}} - {{formatDate(this.$store.getters.getHotelSearchdata.checkOut)}}
          </h2>
        </div>
      </div>
      <div v-show="!sloading" class="row">
        <!-- /.col-12 -->
        <div class="col-lg-3 col-md-4 col-sm-12">
          <aside>
            <div class="widget sm mt-0 mb-0">
              <div class="header pb-0">
                <div class="title">Filter Hotel By</div>
                <!-- /.title -->
              </div>
              <!-- /.header -->
              <div class="body">
                <div class="mb-4">
                  <!-- /.mb-2 -->
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="search"
                      aria-label="Recipient's username"
                      aria-describedby="button-addon2"
                    >
                    <div class="input-group-append">
                      <button
                        class="btn no-round"
                        type="button"
                        id="button-addon2"
                        @click="reverse"
                      >Go</button>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="mb-2 mt-2">Price</div>
                  <!-- /.mb-2 -->
                  <vue-slider ref="slider" v-bind="options"></vue-slider>
                </div>
                <div class="mb-3">
                  <div class="mb-2 mt-2">Star Rating</div>
                  <!-- /.mb-2 -->
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span>Select All</span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">({{hotelItems.length}})</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="5"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(251)</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="4"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(60)</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="3"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(356)</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="2"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(201)</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="1"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(361)</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <span class="review-star-rate md">
                        <star-rating v-bind="starOptions" :rating="0"></star-rating>
                      </span>
                      <!-- /.review-starts-list md -->
                      <span class="ml-1">(428)</span>
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="mb-2 mt-2">Accommodation Type</div>
                  <!-- /.mb-2 -->
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <i class="flaticon-wifi mr-1 small-icon"></i>
                      Wi-Fi (326)
                    </label>
                  </div>
                  <!-- // Wi-Fi // -->
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <i class="flaticon-car-parking mr-1 small-icon"></i>
                      Parking (436)
                    </label>
                  </div>
                  <!-- // Parking // -->
                  <div class="checkbox">
                    <label class="d-flex align-items-center small">
                      <input class="i-check" type="checkbox" title="title">
                      <i class="flaticon-departures mr-1 small-icon"></i>
                      Airport Shuttle (444)
                    </label>
                  </div>
                </div>
              </div>
              <!-- /.body -->
            </div>
            <!-- /.widget -->
          </aside>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-12 -->
        <div class="col-lg-9 col-md-8 col-sm-12">
          <div class="row">
            <paginate
              :per="10"
              name="hotelItems"
              :list="hotelItems"
              ref="paginator"
              class="paginate-list"
            >
              <div v-for="item in paginated('hotelItems')" :key="item.itemId" class="col-12">
                <hotel-card :hotelDetails="item"></hotel-card>
                <!-- /.hotel-list-card -->
              </div>
            </paginate>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <paginate-links
                class="paginate-linkss"
                for="hotelItems"
                :show-step-links="true"
                :limit="5"
                :step-links="stepLinks"
              ></paginate-links>
              <span
                class="mx-2"
                v-if="$refs.paginator"
              >Viewing {{$refs.paginator.pageItemsCount}} results</span>
            </div>
            <!-- /.col-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-9 col-md-8 col-sm-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</template>

<script>
import HotelCard from "./components/HotelCard";
import StarRating from "vue-star-rating";
import vueSlider from "vue-slider-component";
import ProgressBar from "vue-simple-progress";
export default {
  data() {
    return {
      token: "",
      toreset: false,
      increasing_pct: 0,
      sloading: true,
      rloading: false,
      hotelDetails: {},
      stepLinks: {
        next: "Next",
        prev: "Prev"
      },
      hotelItems: [],
      paginate: ["hotelItems"],
      starOptions: {
        "rounded-corners": true,
        "read-only": true,
        "star-size": 15,
        "show-rating": false
      },
      options: {
        value: [100, 200],
        width: "100%",
        height: 8,
        min: 0,
        max: 500,
        useKeyboard: true,
        tooltip: "always",
        formatter: "USD {value}",
        enableCross: false,
        mergeFormatter: "USD {value1} ~ USD {value2}",
        bgStyle: {
          backgroundColor: "#fff",
          boxShadow: "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)"
        },
        tooltipStyle: {
          backgroundColor: "#67A2D4",
          borderColor: "#67A2D4"
        },
        processStyle: {
          backgroundColor: "#428bca"
        }
      }
    };
  },
  created() {
    if (this.$cookies.get("stoken")) this.searchO();
    else this.getToken();
  },
  watch: {
    increasing_pct(after, before) {
      if (after == "100") {
        setInterval(() => {
          this.rloading = false;
        }, 1000);
      }
    }
  },
  methods: {
    reset() {
      this.toreset = true;
    },
    reverse() {
      // this.hotelItems = _.orderBy(this.hotelItems, "price", "desc");
      this.hotelItems = _.filter(this.hotelItems, { category: "3" });
    },
    getToken() {
      axios
        .get("/api/hotel/getAccessToken")
        .then(({ data }) => {
          this.$cookies.set("stoken", data);
          this.searchO();
        })
        .catch(err => {
          console.log("Results.vue: " + err);
          alert("Something Error, Click OK to reload");
          location.reload(true);
        });
    },
    searchO() {
      let self = this;
      let searchData = {
        token: this.$cookies.get("stoken")
      };
      axios
        .post("/api/hotel/searching", searchData)
        .then(({ data }) => {
          if (data.success) {
            // this.$store.dispatch("setSearchHotelToken", data.token);
            console.log("SearchData_Completed_Tokenis: " + data.token);
            self.sloading = false;
            self.search();
          } else if (data.code == 3 || data.code == 2) {
            console.log("SearchData_Failed_Token@searchO");
            console.log(data);
            this.getToken();
            //alert("Something Error!!!\nToken is expired/missing!!!");
            //location.reload(true);
          } else {
            console.log("SearchData_Failed@searchO");
            console.log(data);
            alert("Something Error!!! Please search again\n" + data.message);
            /* this.$router.replace({
              path: "/" + currentLang
            }); */
          }
        })
        .catch(err => {
          console.log("Searching.vue: " + err + "\nMessage: ");
          console.log(err.response);
          alert("Something Error, Click OK to reload");
          //location.reload(true);
        });
    },
    search(page = 1) {
      this.rloading = true;

      let self = this;
      axios
        .get("/api/hotel/result", {
          params: {
            token: this.$cookies.get("stoken"),
            page: page,
            mapmarkers: "0",
            "filter[category]": "",
            "filter[price]": "",
            "filter[hotelname]": ""
          }
        })
        .then(({ data }) => {
          if (data.finised) {
            self.rloading = false;
            self.hotelItems = self.hotelItems.concat(data.hoteldata);
            console.log("YES!!!!!!");
            console.log(data);
          } else if (data.code == 3 || data.code == 2) {
            console.log("SearchData_Failed_Token");
            console.log(data);
            this.getToken();
            alert("Something Error!!!\nToken is expired/missing!!!");
            //location.reload(true);
          } else {
            console.log("No!!!!!!");
            console.log(data);
            if (page == 1) {
              this.setPercent(10);
              self.hotelItems = data.hoteldata;
            } else {
              this.increasePercentBy(
                parseInt((1 / data.properties.pages) * 100, 10)
              );
              self.hotelItems = self.hotelItems.concat(data.hoteldata);
            }
            self.search(page + 1);
          }
        })
        .catch(err => {
          console.log("Results.vue" + err);
          alert("Something Error, Click OK to reload");
          //location.reload(true);
        });
    },
    check() {
      this.is_pause = false;
      console.log(this.$store);
    },
    lang(key, number = null) {
      if (number == null) {
        return window.lang.get(key);
      }
      return window.lang.choice(key, number);
    },
    increasePercentBy(val) {
      this.increasing_pct = Math.min(this.increasing_pct + val, 100);
    },
    setPercent(val) {
      this.increasing_pct = Math.min(val, 100);
    },
    formatDate(date) {
      let language = this.currentLang;
      switch (language) {
        case "zh":
          language = "zh-CN";
          break;

        default:
          language = "en";
          break;
      }
      return moment(date)
        .locale(language)
        .format("ddd Do MMM");
    }
  },
  computed: {
    progressText() {
      if (this.increasing_pct == 100) {
        return "Completed";
      } else {
        return this.increasing_pct + "%";
      }
    },
    currentLang() {
      return window.currentLang;
    }
  },
  components: {
    StarRating,
    vueSlider,
    HotelCard,
    ProgressBar
  }
};
</script>

<style>
.slider {
  /* overwrite slider styles */
  width: 200px;
}
</style>
<style lang="scss">
.paginate-linkss {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin-top: 30px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.paginate-list {
  width: 100%;
  margin: 0;
  text-align: left;
  li {
    display: block;
    // &:before {
    //   content: "⚬ ";
    //   font-weight: bold;
    //   color: slategray;
    // }
  }
}

.paginate-links.hotelItems {
  user-select: none;
  a {
    cursor: pointer;
    color: #00c2f0;
  }
  li.active a {
    font-weight: bold;
    border-bottom: solid;
  }
  li.next:before {
    content: " | ";
    margin-right: 13px;
    color: #dddddd;
  }
  li.disabled a {
    color: #cccccc;
    cursor: no-drop;
  }
}
</style>

