<template>
  <form @submit.prevent="submitHotels">
    <div class="form-group">
      <v-select
        id="v-select"
        label="label"
        @search="search"
        :options="results"
        v-model="selected"
        :placeholder="lang('hotelsearch.placetogo')"
      ></v-select>
    </div>

    <div class="row no-gutters form-group">
      <div class="col-md">
        <datepicker
          :format="format"
          :bootstrap-styling="true"
          v-model="fromdate"
          :disabledDates="disabledDates"
          :calendar-button="true"
          calendar-button-icon="fa fa-calendar"
          @selected="highlightFrom"
          :highlighted="highlighted"
        ></datepicker>
      </div>

      <div class="col-md">
        <datepicker
          :format="format"
          ref="programaticOpen"
          :bootstrap-styling="true"
          v-model="todate"
          :disabledDates="disabledFromDates"
          :calendar-button="true"
          calendar-button-icon="fa fa-calendar"
          @selected="highlightTo"
          :highlighted="highlighted"
        ></datepicker>
      </div>
    </div>

    <div class="form-group">
      <div class="row no-gutters">
        <!-- Guest Room Count -->
        <div class="input-group col-md">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-building-o"></i>
            </div>
          </div>

          <select v-model="roomCount" class="form-control">
            <option value="0" disabled hidden>Select Room</option>
            <option
              v-for="(index,i) in new Array(9)"
              :value="i+1"
              :key="i+1"
            >{{i+1 + " " + lang('hotelsearch.room',i)}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group" v-for="(room,RI) in rooms" :key="RI">
      <div class="row no-gutters">
        <!-- Guest Room Dropdown -->
        <div class="input-group col-md-5">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-bed"></i>
            </div>
          </div>

          <select v-model="rooms[RI].roomType" class="form-control">
            <option value="single">{{lang('hotelsearch.roomType.single')}}</option>
            <option value="double">{{lang('hotelsearch.roomType.double')}}</option>
            <option value="twin">{{lang('hotelsearch.roomType.twin')}}</option>
            <option value="triple">{{lang('hotelsearch.roomType.triple')}}</option>
            <option value="quad">{{lang('hotelsearch.roomType.quad')}}</option>
            <option value="solo">{{lang('hotelsearch.roomType.solo')}}</option>
          </select>
        </div>

        <!-- Guest Room Count -->
        <div class="input-group col-md-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-child"></i>
              </div>
            </div>

            <button
              class="form-control text-left"
              data-toggle="dropdown"
            >{{ childrenCount[RI] + " " + lang('flightsearch.passenger.child',childrenCount[RI]) }}</button>

            <div class="dropdown-menu passenger p-3" aria-labelledby="dropdownMenuButton">
              <!-- children -->
              <div class="form-group row">
                <div class="col-md-8">
                  <label>
                    <i class="fa fa-child"></i> Children
                    <br>
                    <small class="text-yellow">Children (0 - 9)</small>
                  </label>
                </div>

                <div class="col-md">
                  <select
                    v-model="childrenCount[RI]"
                    class="form-control"
                    @change="setChildrenArr(RI)"
                  >
                    <option v-for="(index,i) in new Array(4)" :value="i" :key="i">{{i}}</option>
                  </select>
                </div>
              </div>

              <div v-if="rooms[RI].children.length != 0" class="mb-1 form-group row">
                <div v-for="(index, i) in rooms[RI].children.length" :key="i" class="col-md-6">
                  <div class="div p-1">
                    <label>Children {{i+1}}</label>
                    
                    <select class="form-control" v-model="rooms[RI].children[i]">
                      <option :value="0" disabled hidden>{{lang('hotelsearch.selectage')}}</option>
                      <option v-for="(age, i) in chidrenage" :value="age.val" :key="i">{{age.text}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Room -->
    <div class="form-group"></div>

    <div class="button-group text-right">
      <button class="btn bg-yellow text-light" type="submit">View Hotels</button>
    </div>
  </form>
</template>

<script>
import Helper from "../services/helper";
import Datepicker from "vuejs-datepicker";
import { ModelListSelect } from "vue-search-select";
import axios from "axios";
import _ from "lodash";
import vSelect from "vue-select";

export default {
  data() {
    return {
      selected: "",
      results: [],
      format: "yyyy-MM-dd",
      roomCount: "0",
      childrenCount: ["0"],
      rooms: [{ roomType: "single", children: [] }],
      guest: { child: 0, infant: 0 },
      fromdate: new Date(Date.now() - 8640000),
      todate: new Date(Date.now() - 8640000 + 86400000),
      hotel: {},
      disabledDates: {
        to: new Date(Date.now() - 86400000)
      },
      chidrenage: [
        { val: 1, text: 1 },
        { val: 2, text: 2 },
        { val: 3, text: 3 },
        { val: 4, text: 4 },
        { val: 5, text: 5 },
        { val: 6, text: 6 },
        { val: 7, text: 7 },
        { val: 8, text: 8 },
        { val: 9, text: 9 },
        { val: 10, text: 10 },
        { val: 11, text: 11 }
      ],

      dateObj: new Date(Date.now()),

      highlighted: {
        from: new Date(Date.now() - 8640000),

        to: new Date(Date.now() - 8640000 + 86400000),

        includeDisabled: true
      }
    };
  },

  computed: {
    disabledFromDates() {
      this.dateObj.setDate(this.highlighted.from.getDate());

      return {
        to: this.dateObj
      };
    }
  },

  methods: {
    submitHotels() {
      this.$cookies.set("search", this.createSearchData());

      this.$store.dispatch("setHotelSearchdata", this.createSearchData());
      this.$cookies.remove("stoken");
      this.$router.replace({
        path: "/" + currentLang + "/hotel/results"
      });
      console.log(this.createSearchData());
    },
    createSearchData() {
      let searchData = {
        // cityId: "104719",
        cityId: this.selected.id,
        checkIn: moment(this.fromdate).format("YYYY-MM-DD"),
        checkOut: moment(this.todate).format("YYYY-MM-DD"),
        rooms: this.rooms,
        category: "0",
        nationality: "",
        residence: "",
        // cityName: this.selected.name
        cityName: "Malacca"

      };
      return searchData;
    },
    search(search, loading) {
      if (search.length > 1) {
        loading(true);

        this.getRepositories(search, loading, this);
      }
    },

    getRepositories: _.debounce((search, loading, vm) => {
      axios
        .get(`/api/hotel/test?q=${search}`)
        .then(response => {
          //console.log(response.data);
          vm.results = response.data;
          loading(false);
        })
        .catch(error => {
          alert(error);
        });
    }, 150),

    keepopn() {
      Helper.keepOpen("passenger");
    },

    setChildrenArr(index) {
      this.rooms[index].children = new Array(this.childrenCount[index]);
      let arrlength = this.rooms[index].children.length;
      for (let i = 0; i < arrlength; i++) {
        this.rooms[index].children[i] = "0";
      }
    },

    highlightTo(val) {
      if (typeof this.highlighted.to === "undefined") {
        this.highlighted = {
          to: null,
          daysOfMonth: this.highlighted.daysOfMonth,
          from: this.highlighted.from
        };
      }
      this.highlighted.to = val;
    },

    highlightFrom(val) {
      if (typeof this.highlighted.from === "undefined") {
        this.highlighted = {
          to: this.highlighted.to,
          daysOfMonth: this.highlighted.daysOfMonth,
          from: null
        };
      }
      this.highlighted.from = val;
      this.$refs.programaticOpen.clearDate();
      this.$refs.programaticOpen.showCalendar();
    },

    lang(key, number = null) {
      if (number == null) {
        return window.lang.get(key);
      }
      return window.lang.choice(key, number);
    }
  },

  watch: {
    roomCount(after, before) {
      if (after) {
        this.rooms = [];
        this.childrenCount = [];
        for (let index = 0; index < after; index++) {
          this.childrenCount.push(0);
          this.rooms.push({
            roomType: "single",
            children: []
          });
        }
      }

      this.$nextTick(() => {
        this.keepopn();
      });
    },

    children(after, before) {
      if (after) {
        let b = 0;
        for (let i = 0; i < after.length; i++) {
          b++;
        }
        this.guest.child = b;
      }
    }
  },

  components: {
    Datepicker,

    vSelect
  }
};
</script>

<style>
#v-select.v-select {
  background-color: #fff !important;
}

#v-select.dropdown .dropdown-toggle::after {
  display: none;
}

#v-select.v-select.single.open .selected-tag {
  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  margin: auto;
}
</style>
